[2019-08-05 05:51] masture opened #2 "What is the need of @State private var isPresented?"
In PresentationLink.swift, what is the use of @State private var isPresented? It is never read.
It is never used.

[code]

[2019-08-05 09:50] vmanot commented on #2
Check the updated code, I think you have an older version of `PresentationLink`. It is being used in both `present()` and `dismiss()`.

[2019-08-05 09:50] #2 closed

[2019-08-09 07:37] kevinrpb opened #3 "Create docs branch so I can open a PR? =D"
Hi, I thought the project would eventually need a docs page if it continues to grow (as opposed to having a giant README hehe), so I [started one](https://kevinrpb.github.io/SwiftUIX/).

However, I don't have anywhere to create a PR to (I used a new `docs` branch). Could you create this empty branch so I can send a PR? =)

[2019-08-09 09:34] vmanot commented on #3
Looks good! Could you reach out to me via iMessage/Mail (vatsal.manot@yahoo.com)? There are a few things I'd like to discuss. I've purchased a domain name for SwiftUIX, so we can host this up there :)

[2019-08-09 09:49] #3 closed

[2019-08-14 06:33] vmanot opened #9 "TextView does not expose .foregroundColor(_:)"

[2019-08-29 14:33] vmanot opened #10 "TextView does not respect .font(_:)"

[2019-10-21 13:17] michaelkroll opened #13 "Provide a sample app to show the usage of Some UI elements"
It would be helpful to provide some kind of sample app or even more usage examples for your supplied UIX components. Looking forward to get to know how to use PaginationViews properly.

[2019-10-21 14:53] vmanot commented on #13
I'm currently in the process of improving the `PaginatedViews` API, documentation and fixes should be coming soon :)

[2019-11-11 14:50] emma-k-alexandra commented on #13
Also struggling with `PaginatedViews` and could use some guidance.

[2019-11-18 09:59] GJNilsen opened #14 "Autohide keyboard when tap outside TextField"
When tapping outside the TextField, the keyboard should hide automatically.

[2019-12-06 09:25] vmanot commented on #14
@GJNilsen please take a look at `Keyboard.dismiss()`. You can invoke it via a `View.tapGesture` on your background view.

[2019-12-06 09:25] #14 closed

[2019-12-07 18:05] GJNilsen commented on #14
This is not possible when you are working with a list view. If you add gestures on the background all  links, pickers and so on will stop working.

[2019-12-07 20:33] GJNilsen opened #16 "TextView Placeholder not dissappearing anymore"
The TextView Placeholder text is not disappearing anymore when entering text in the field.
![IMG_0489](https://user-images.githubusercontent.com/628887/70380306-33234080-1939-11ea-9f49-0c3a806e8162.jpg)

[2019-12-10 09:22] vmanot commented on #16
@GJNilsen this should be fixed now.

[2019-12-10 09:22] #16 closed

[2019-12-10 09:33] vmanot commented on #13
@michaelkroll  @emma-k-alexandra documentation is up [here](https://github.com/SwiftUIX/SwiftUIX/wiki/Pagination). Please feel free to email/iMessage me if you have any further questions.

[2019-12-10 09:33] #13 closed

[2019-12-10 09:37] vmanot commented on #9
This is a result of a limitation in the public SwiftUI API. There is a radar open for this at FB7154926.

[2019-12-10 09:37] vmanot commented on #10
This is a result of a limitation in the public SwiftUI API. There is a radar open for this at FB7154926.

[2019-12-28 11:53] #10 closed

[2019-12-28 11:53] #9 closed

[2020-01-03 13:35] qizh commented on #16
I still have this issue. Xcode 11.3, iOS 13.3.

[2020-01-03 13:50] qizh commented on #16
I still have this issue. Xcode 11.3, iOS 13.3.

[2020-01-21 23:40] peterwarbo opened #18 "SwitchOver with associated values?"
Is it possible? Can't find any documentation.

[2020-01-22 10:00] vmanot commented on #18
It's possible, but it's ugly:

[code]

[2020-01-22 10:02] vmanot commented on #18
I've updated the [wiki](https://github.com/SwiftUIX/SwiftUIX/wiki/Control-Flow) to include this example. Thank for raising this issue!

[2020-01-22 10:02] #18 closed

[2020-01-26 04:52] DominikButz opened #19 "TextView modifiers don't work as expected"
Hi, great library but TextView doesn't work as expected. It seems onCommit is never executed.
The modifier font seems to work but foreground color, keyboard type and line limit don't seem to work either. I don't know how the keyboard can resign either.
Thanks for looking int this.

        TextView("Notes", text: self.$workoutManager.workout.notes, onCommit: {
            /// is never executed.

[2020-01-27 15:53] vmanot commented on #19
Thank you for raising this issue, I'll take a look! :)

[2020-01-28 10:19] DominikButz opened #20 "PaginationView doesn't show"
Hi,
 it seems that PaginationView doesn't show in the main view where I place it. See a couple of examples of what I tried below.

    ScrollView(.vertical) {

                VStack(alignment: .leading) {

                    ExerciseMediaPaginatedHeader(exercise: self.exercise)

                    .... other views
}
}

This doesn't show inside the Scroll view above:

struct ExerciseMediaPaginat

[2020-01-28 10:31] DominikButz commented on #20
update: it seems the PaginationView shows if I add a frame height: .frame(height: 350)...
So it seems the PaginationView can't figure out its own height.

[2020-01-28 11:09] vmanot commented on #20
@DominikButz huh, interesting. `PaginationView` internally uses an array of `UIHostingController`s, maybe I could query for `sizeThatFits` and use the max of all the pages as the frame.

[2020-01-28 11:19] vmanot commented on #19
@DominikButz could you take a look at `CocoaTextField`? I ran into similar problems while designing that and realized I'd have to manually implement those modifiers and their associated APIs as `EnvironmentValues` doesn't expose `foregroundColor` nor `keyboardType`.

Moreover, `Font` → `UIFont` right now is implemented via a hack, as there is no official API that offers a conversion from SwiftUI →

[2020-01-29 07:11] DominikButz commented on #20
thanks, maybe you can try that out and add it to a future update. It's ok, I can figure out the content height beforehand and simply set the height of the frame, it works for my use case.

[2020-02-06 01:08] the-braveknight opened #22 "PaginationView PageControl not showing when alignment is set to .horizontal"
There is an issue inside PaginationView.init where it is always ignoring the passed pageIndicatorAlignment argument (assuming it is always nil is wrong). Also I don't understand this check `if axis == .vertical || pageIndicatorAlignment != .center { ... }` inside PaginationView.body. The PageControl isn't showing when the alignment is horizontal. The check has to be removed and the paddings have t

[2020-02-06 16:19] vmanot commented on #22
@the-braveknight try setting `UIPageControl`'s tint color through `UIAppearance`? Good catch with the parameter being ignored, have fixed it.

Also, `axis == .vertical || pageIndicatorAlignment != .center` is because I manually create a `UIPageControl` for vertical page view controllers, since Apple doesn't do vertical page controls ¯\_(ツ)_/¯

[2020-02-06 17:04] the-braveknight commented on #22
It is partially working now. The indicator is showing if I manually set pageIndicatorAlignment to something other than ".center". Perhaps you should only check for (axis == .vertical) both in PaginationView.body and _PaginationView.makeCoordinator() without (pageIndicatorAlignment != .center).

[2020-02-07 12:17] #22 closed

[2020-02-07 12:17] #20 closed

[2020-02-12 04:22] Brett-Best opened #24 "Named Color Support"
Named colours currently don’t work.

At the line linked below, calling `Mirror(reflecting: base).children.first?.value` gives the name of the color. It can then be used with `UIColor(named: xxx)`.

https://github.com/SwiftUIX/SwiftUIX/blob/master/Sources/Intermodular/Helpers/AppKit%20or%20UIKit/AppKitOrUIKitColor+.swift#L86

[2020-02-13 10:53] vmanot commented on #24
Hey, thank you for raising the issue! Feel free to create a PR and merge this support in :)

[2020-02-14 06:12] Brett-Best opened #26 "Activity Indicator Crash"
On iOS 13.0 I’m getting a crash:
Fatal error: Reading Environment<Optional<Color>> outside View.body: file
When accessing the `uiView.color = tintColor?.toUIColor()`

On iOS 13.1+, no crash is caused.

A workaround could be to disable tint color on iOS 13.0 only?

[2020-02-16 13:44] vmanot commented on #26
Disabled it for < iOS 13.1.

[2020-02-16 13:44] #26 closed

[2020-02-16 13:53] #24 closed

[2020-02-16 15:15] kevinrenskers opened #27 "AttributedText height problems when put in List or ScrollView"
This doesn't show anything:

[code]

And when you put it in a List instead of a ScrollView, it only shows the first line.

[2020-02-17 08:35] skryshi opened #28 "TextView moves cursor to the end after return key"
In TextView, pressing return key twice, moves the cursor to the bottom of the TextView. Which makes it unusable. Any ideas how to fix it?

On XCode 11.3.1. In simulator and on device. Try it with this trivial code. Run it and type in: return key, some text, scroll the cursor to the top, return key.

[code]

[2020-02-18 14:25] ggruen commented on #28
I ran into this issue when assembling my own version of `TextView` before finding SwiftUIX. The answer was to record and put back the cursor in `updateUIView`. Replacing `updateUIView` in TextView.swift with the below _should_ fix the cursor placement issue:

    func updateUIView(_ textView: UITextView, context: Context) {
        if let font = context.environment.font, font.toUIFont() != textVie

[2020-02-18 15:49] ggruen opened #29 "TextView holding reference to NSView"
Hi - great module; thanks for it! :)

I'm running into a weird issue with `TextView` running on macOS on a master/detail view: When there's a `TextView` in the detail view, the contents of the `TextView` continue to show (and edit) the first item selected in the list view, even though the rest of the detail view has changed.

Gif of the issue: https://www.dropbox.com/s/2cp6upj7twfi601/TextView.gif

[2020-02-18 17:47] vmanot commented on #27
I've unfortunately not been able to understand why this is happening :(

Feel free to poke around and see if you can improve the layout behavior.

[2020-02-21 07:56] vmanot commented on #28
Fixed. Thank you @ggruen for the fix, it worked like a charm!

[2020-02-21 07:56] #28 closed

[2020-02-21 09:06] vmanot commented on #29
This should be fixed now.

[2020-02-21 09:06] #29 closed

[2020-02-25 14:57] judomat commented on #27
try using
[code]
in the makeUIView() method of UIViewRepresentable.
You should also add them in the TextView, because right now it takes up all the available space even if there is only a short text in it

[2020-03-02 14:38] Candbot opened #31 "Add alias for systemGray and systemGray2-6"

[2020-03-07 10:04] MatteCarra opened #32 "CocoaList initialContentAlignment issue"
I have noticed an issue with current CocoaList initialContentAlignment implementation.
The issue seems to be in UIHostingTableViewController.correctContentOffset function.
This function is called whenever content size is updated by the observe value function in the event a view is added to the data source.
The issue here is the oldContentSize value: observeValue seems to be called multiple times w

[2020-03-07 10:37] MatteCarra commented on #32
I have done more tests in a simpler project and was not able to reproduce the multiple calls to the observeValue.
I will perform more tests on the other project, but why was the condition `oldContentSize.maximumDimensionLength < newContentSize.maximumDimensionLength`  imposed?

This is the code without the issue:
[code]

[2020-03-07 10:51] MatteCarra commented on #32
I was able to reproduce the issue in the demo by the padding to vertical only:

[code]

You can use this code to reproduce the bug.

[2020-03-07 19:13] vmanot commented on #32
@MatteCarra I'm currently struggling to fix content offset correction myself - `UITableView` is just fucked in terms of how/when it updates `contentSize`. I'm thinking about ditching it altogether and switching to `UICollectionView` (a port that I'm working on).

[2020-03-07 22:36] MatteCarra commented on #32
Thanks for the confirmation.
I was not aware of this issue with UITableView before.
I'm looking forward to your UICollectionView port.
Thanks

[2020-03-08 11:44] vmanot commented on #32
@MatteCarra if you need this functionality ASAP - I'd recommend you try raising a workaround/patch PR (you seem to have understood the issue exactly). I'm available if you need any assistance in understanding the code - which I understand is under-documented currently.

[2020-03-08 11:53] vmanot commented on #31
@Candbot please feel free to open a PR with the requested extensions.

[2020-03-08 12:16] MatteCarra commented on #32
I'm not in a rush, by I'm actively trying to find a solution to the problem.
I'm actually playing around with swift for the first time and I've on my back 3 days experience  of practice and only a few hours on uikit.

I'm looking forward on collaborating to this great project.

[2020-03-14 08:35] MatteCarra commented on #32
I was able to perform some working tests with CocoaList, but I have some questions for the desired implementation.

What is initialContentAlignment designed to do?

I think that a common use case of initialContentAlignment could be for a logs/chat view: messages start filling from top until all the view is filled and then the list is automatically scrolled to the last element whenever a new item i

[2020-03-14 16:38] amadeu01 opened #35 "[Question] How to set large title view?"
I tried to use
![image](https://user-images.githubusercontent.com/11631092/76686293-1f9f0a00-65f9-11ea-8c22-b88e7ab5410c.png)

## Refs

[How can I add a custom view on the large title view of UINavigationBar introduced in iOS11](https://stackoverflow.com/questions/46620068/how-can-i-add-a-custom-view-on-the-large-title-view-of-uinavigationbar-introduce

[Custom title view as large title in iOS 11

[2020-03-14 16:38] amadeu01 opened #36 "[Question] How to set large title view?"
I tried to use `navigationBarTitleView(_: displayMode)` to add a

[code]
<p float="left">
<img src="https://user-images.githubusercontent.com/11631092/76686293-1f9f0a00-65f9-11ea-8c22-b88e7ab5410c.png" width="300">

<img src="https://user-images.githubusercontent.com/11631092/76686345-71e02b00-65f9-11ea-8713-48003d4ec853.png" width="300">
</p>

However, it seems that the LargeTitle is not set, and

[2020-03-15 00:14] #35 closed

[2020-03-15 17:28] vmanot commented on #32
@MatteCarra the purpose of `initialContentAlignment` is to describe the initial content offset for the scroll view (be it a basic scroll view, a table view or a collection view). This is useful when, yes, you're developing a chat application and the scroll view must be scrolled to the very bottom at the start.

The reason I'd imposed that condition is because `UITableView` has this weird behavior

[2020-03-15 17:28] #27 closed

[2020-03-15 17:29] #19 closed

[2020-03-16 06:44] yosshi4486 opened #37 "Crashed when using isIntialFirstResponder on CocoaTextField"
# Environment
- master branch
- CocoaTextField.swift

# Problem
Crashed when using `isIntialFirstResponder(true)` modifier.

<img width="971" alt="スクリーンショット 2020-03-16 13 31 16" src="https://user-images.githubusercontent.com/9734876/76731100-f2d92700-679f-11ea-84b0-73d9003aa0a2.png">
eg)

[code]

# Why
Calling `becomeFirstResponder() -> Bool` may cause crash before adding the view to view hierarch

[2020-03-16 07:28] vmanot commented on #37
Fixed! Thank you for reporting. It's weird because I haven't encountered this on iOS 13.4, but I know that SwiftUI is buggy across older versions.

[2020-03-16 07:28] #37 closed

[2020-03-24 05:16] skryshi commented on #28
Thank you, @ggruen. It almost works. The cursor no longer jumps, but the view still sometimes jumps to the bottom. Hard to pinpoint the exact conditions when it happens, but if you play with entering text and newlines, it will occasionally happen.

[2020-03-24 16:48] rivera-ernesto opened #40 "No such module 'Merge'"
I get this error since trying to update the Swift Package from revision `89d980c4db9c636bed505a3df9e64f4287881777` to `6ac261ace4a5b20bdbe16deebfdacf9fe274329a`.

[2020-03-24 17:59] vmanot commented on #40
@rivera-ernesto fixed!

[2020-03-24 17:59] #40 closed

[2020-03-24 18:00] vmanot commented on #36
It's not possible to do so with the current implementation, but I'd love it if you could create a PR for this =)

[2020-03-24 18:09] lfongaroScp opened #41 "[Bug] Not correctly reload button in navigation bar"
Hi,
I use your library. Thanks for your work.
I have a problem.
In my app I set the bar ButtonItems like this
[code]

However, sometimes I need to hide/modify the barbuttons I show to the user.
So, there is a @Published variable in the model of the Main View that change if the user make specific action.

Here the problem:
the buttons are not update, it still show the old ones.
I try to use the nat

[2020-03-24 18:13] lfongaroScp opened #42 "[Bug] NavigationBar size at start"
Hi,

I have a simple problem: my app when start the navigation bar has the wrong size (expanded and not inline), after a simple refresh the navigationBar change to the correct size, but it is pretty ugly.
If i put an empty navigationTitle the size is correct, but it seems a bit hackish (or maybe is the correct way? I am not very skilled about SwiftUI)
Here a snippet to show what I mean:
[code]

[2020-03-25 07:15] vmanot commented on #42
@lfongaroScp I've faced this same issue, it seems to be a SwiftUI bug :/

[2020-03-25 07:15] vmanot commented on #41
Taking a look at this. Which version of iOS are you on?

[2020-03-25 08:19] lfongaroScp commented on #41
Hi,
Thanks for the reply. I have an iPhone7 with iOS 13.3.1
And XCode 11.3.1

[2020-03-25 17:39] lfongaroScp commented on #41
Hi,
I search a bit in your code:
I guess the problem is these istruction:

Row 62, NavigationBarConfigurator.swift
[code]

I put a couple of breakpoint. When I update the icons it trigger the "else if" condition.
Then I try this:
first instantiate only the center and trailing icons (leading is left empty)
Then update the icons leading, center and trailing.
The leading icons will be update, the oth

[2020-04-02 18:12] maximkrouk commented on #31
Are you sure you need it?
Why not just use
[code]
or
[code]
when possible?
I think it seems good enough to use and relax 😎

[2020-04-02 18:24] maximkrouk commented on #31
Btw [semantic versioning](https://semver.org) would be appreciated :)

[2020-04-07 02:35] Brett-Best opened #44 "Segmentation Fault 11 on archive using Xcode 11.4"
[code]

Using Xcode 11.4, create a blank project (add SPM SwiftUIX) and use the above code snippet for the content view.
Attempt to archive the project for release, a segmentation fault 11 should be produced.

The following tweets might be helpful, as well as the two commits linked.
https://twitter.com/codeslice/status/1247141849531326465?s=21
https://twitter.com/codeslice/status/12471422518616186

[2020-04-07 11:43] vmanot commented on #44
Thank you for reporting this! The links were extremely helpful, and I've resolved the archive issues with the provided example.

[2020-04-07 11:44] vmanot commented on #44
Leaving this issue open to track further segfaults - looks like this is going to be a rough ride till 11.4.1 is released and hopefully fixes the compiler bug(s).

[2020-04-07 14:16] Brett-Best commented on #44
Thanks for the quick fix, glad the links were helpful (:

[2020-04-08 07:05] maximkrouk opened #47 "AppKit & UIKit Support"
Take a look at [my implementation](https://gist.github.com/maximkrouk/d38f9ec9ffa9fad4a30e87fab29298ed), maybe you'll find it useful 😎

[2020-04-08 19:27] vmanot commented on #47
Looks really interesting! Closing this issue as it's more of a discussion rather than an issue, but have bookmarked your code and will definitely add something inspired by it :)

[2020-04-08 19:27] #47 closed

[2020-04-08 19:28] vmanot commented on #44
@Brett-Best most of the issues should be fixed now, after a thorough sprinkling `@inlinable` and `@usableFromInline` all across the project. Feel free to raise a new one if anything comes up!

[2020-04-08 19:28] #44 closed

[2020-04-15 09:49] mrsunx opened #49 "SectionNavigator navigate destination closure called two times"
`
    var body: some View {
        Text("hello world")
            .onTapGesture {
                self.isActive = true
            }
            .navigate(isActive: $isActive, onDismiss: nil, to: {
                Text("hello")
            })
    }
`
Text("hello") closure called two times

[2020-04-15 13:32] vmanot commented on #49
@mrsunx thank you for pointing it out! I'm currently swamped with other work, will look into it whenever I can. It may also be a SwiftUI behavioral change/regression between minor iOS versions, please also specify which version of iOS/Xcode you are using to reproduce this bug :)

[2020-04-16 01:17] mrsunx commented on #49
Thank you for your reply.
Xcode version: 11.4
iOS 13.4, iPhone 8 Plus.

[2020-04-16 19:27] sabina1997 opened #50 "Can't load dynamic data inside PaginationView"
I have to display some data from api. This is the code:

[code]

Everything I put inside foreach, even if I put static data it says **Cannot convert value of type 'ForEach<[Banner], Int, some View>' to closure result type 'Array<Element>'**.
How can I load data with foreach inside PaginationView?

[2020-04-16 20:38] vmanot commented on #50
@sabina1997 I just introduced an initializer to support this. Could you check and confirm whether it fits your need?

[2020-04-16 20:40] vmanot commented on #50
On a more interesting note - true `ForEach` support is in the works. Right now, `PaginationView` is inefficient in that it requires precomputed views - I'm changing that to support fully dynamic, lazy loading.

[2020-04-16 20:46] sabina1997 commented on #50
Show an example please

[2020-04-17 07:42] vmanot commented on #50
@sabina1997 your main example should work?

[2020-04-17 16:45] sabina1997 commented on #50
No it doesnt work

[2020-04-17 16:54] sabina1997 commented on #50
<img width="530" alt="Screenshot 2020-04-17 at 6 51 09 PM" src="https://user-images.githubusercontent.com/41695168/79594130-cb49e700-80dc-11ea-9896-e8642343b32d.png">

[2020-04-17 21:26] vmanot commented on #50
The following code works for me, I'm not sure what I'm missing here:

<img width="723" alt="Screen Shot 2020-04-18 at 2 54 21 AM" src="https://user-images.githubusercontent.com/5306992/79615231-e8ec7000-811f-11ea-9d14-44f6bde1197e.png">

[code]

Which version of Xcode are you using? Maybe your SPM package resolution is out of date? You should essentially see the following `init` in the generated i

[2020-04-18 19:11] sabina1997 commented on #50
I just updated xcode to check if that was the problem. Now Im getting two errors

<img width="768" alt="Screenshot 2020-04-18 at 9 10 23 PM" src="https://user-images.githubusercontent.com/41695168/79669030-1f29fe00-81b9-11ea-897f-08630ea8c0d6.png">

[2020-04-18 19:21] sabina1997 commented on #50
I realised that the extension you said is missing, reinstalled again the package from master but the same. Am I missing something?

[2020-04-18 19:47] sabina1997 commented on #50
@vmanot I found the problem, when I get the package with branch master, I didnt get the updates, I tried with commit and now its working , thanks

[2020-04-19 11:18] #50 closed

[2020-04-23 10:34] xiaoojun opened #51 "dyld: Symbol not found: _$s7SwiftUI4ViewPAAE11hoverEffectyQrAA05HoverE0VFQOMQ"
dyld: Symbol not found: _$s7SwiftUI4ViewPAAE11hoverEffectyQrAA05HoverE0VFQOMQ

[2020-04-23 22:38] jacobsokora opened #52 "Type 'ToolbarItem.Content' has no member 'view'"
Compile error on line 58 of ToolbarItem.swift

Only getting the error when compiling with catalyst enabled

[2020-04-24 11:36] Brett-Best commented on #51
You can fix this by weak linking SwiftUI

[2020-04-24 15:34] vmanot commented on #52
@jacobsokora whoops, fixed!

[2020-04-24 15:34] #52 closed

[2020-04-26 00:20] welove opened #53 "PaginationView auto height"
Is there a way to detect the height of the tallest view inside the PaginationView and make it its frame height?
Also, is it possible to make an "Auto Play" so it behaves like a slideshow?

[2020-04-26 11:30] vmanot commented on #53
@welove implementing auto-play is out of scope for this project, you can easily achieve this via a `Timer` and `PaginationView.currentPageIndex`. Automatic resizing is something that has been requested quite a bit, I'll see if I can squeeze it in sometime in the near future :)

[2020-04-26 11:36] welove commented on #53
Perfect :) Congratulations on the project. Its awesome! 👏

[2020-04-26 16:11] vmanot commented on #51
@Brett-Best is correct. This is a bug on Apple's side though, so we can't fix it :(

[2020-04-27 16:45] welove opened #56 "Checkbox images"
I think it's more intuitive if the checkbox used an empty square image when off ("square" instead of "checkmark.square").

When we have multiple checkboxes and none of them is on, it feels like they're all checked by default.

Can you please update or give us the option to choose which symbol to use?

<img width="139" alt="Captura de ecrã 2020-04-27, às 17 45 07" src="https://user-images.githubuse

[2020-04-28 10:21] vmanot commented on #56
You can now implement custom checkbox styles in a fashion similar to `ButtonStyle`:

[code]

(/¯–‿･)/¯

[2020-04-28 10:53] #31 closed

[2020-04-28 10:53] #32 closed

[2020-04-28 10:54] welove commented on #53
Hello, I have a Binding like this: .currentPageIndex(self.$currentImageIndex)

When I set a new value for the currentImageIndex, the PaginationView changes to the correct page, but the pagination dots don't change.
Do I need to keep them in sync manually or is it a possible bug?

[2020-04-28 10:54] welove opened #57 "PaginationView set currentPageIndex"
Hello, I have a Binding like this: .currentPageIndex(self.$currentImageIndex)

When I set a new value for the currentImageIndex, the PaginationView changes to the correct page, but the pagination dots don't change.
Do I need to keep them in sync manually or is it a possible bug?

[2020-04-28 17:48] vmanot commented on #57
Fixed!

[2020-04-28 17:48] #57 closed

[2020-04-29 19:15] #56 closed

[2020-04-30 09:01] yonaskolb opened #58 "PaginationView index"
Hi, great library!
Currently when updating the `PaginationView` index programmatically with `currentPageIndex` the page control dots don't change and also get out of sync with the index if you switch to swiping

[2020-04-30 20:35] lorenzofiamingo opened #59 "Present sheet with Clear Background"
I needed to present a modal sheet with clear background. I'm using now this workaround:
[code]

and using it with:

`
UIApplication.shared.windows.first?.rootViewController?.present(...)
`

There is the possibility to implement this like for View+navigate, (View+present)?

[2020-04-30 21:14] lorenzofiamingo commented on #58
Can you post your code? I'm using it as well and is working fine

[2020-05-01 13:15] vmanot commented on #58
@yonaskolb this bug was recently fixed (see #57). Is it possible that you're not on the latest commit of `master`?

[2020-05-05 07:45] vmanot commented on #58
Closing this as there's been no reply for a couple of days - feel free to reopen if the issue persists!

[2020-05-05 07:45] #58 closed

[2020-05-06 03:38] yonaskolb commented on #58
Hi @vmanot, I ended up moving to https://github.com/fermoya/SwiftUIPager for this particular component, so I don't have the code around anymore. Sorry for not getting back to you earlier.

At the time I'm pretty sure I was on the latest master, because I updated to see if the issue was fixed, but maybe the update didn't take properly 🤷‍♂️
I'm sure someone else will raise it though if it's still an

[2020-05-09 20:03] riccardo-lomazzi opened #63 "Setting CocoaList's contentOffset"
I'd like to save the scroll offset of a `CocoaList` while navigating through pages.

I thought it was possible by using the `onOffsetChange` modifier, but the exposed `ScrollView<AnyView>.ContentOffset` argument doesn't let you get the `contentOffset` property as it seems to be declared as `fileprivate`.
I've tried creating a `extension CocoaList` with a custom method to get it, but the compiler t

[2020-05-10 21:14] KALIMI opened #64 "Navigation Bar size"
<img width="1440" alt="Screen Shot 2020-05-11 at 01 12 52" src="https://user-images.githubusercontent.com/46112191/81510665-9b30e500-9324-11ea-8a22-1eededa0d2c7.png">
The content is not available to place on its place. the view is giving extra space

[2020-05-11 12:20] vmanot commented on #64
Try using `.fixedSize()`?

[2020-05-11 12:21] vmanot commented on #63
@riccardo-lomazzi support for this feature is underway, I expect it to be done in a couple of days.

[2020-05-11 12:22] vmanot commented on #59
I'm actually tackling this and a bunch of other problems in a separate project, [Coordinator](https://github.com/SwiftUIX/Coordinator). Stay tuned there for more details.

[2020-05-11 12:22] #59 closed

[2020-05-11 12:24] vmanot commented on #49
I've investigated this, and it seems to be a SwiftUI bug, unfortunately. Closing this issue as I cannot fix it, feel free to reopen if you find a workaround.

[2020-05-11 12:24] #49 closed

[2020-05-11 12:24] #42 closed

[2020-05-11 12:25] vmanot commented on #36
Closing this issue as it is currently out-of-scope.

[2020-05-11 12:25] #36 closed

[2020-05-11 12:25] vmanot commented on #41
This should be fixed now.

[2020-05-11 12:25] #41 closed

[2020-05-11 16:11] KALIMI commented on #64
It didn't help

[2020-05-11 16:14] KALIMI commented on #64
But it works good on child views of this navigation view

[2020-05-12 22:42] nipapadak opened #65 "More Documentation/Example usage"
Great library. I know it's work in progress but would love to see more documentation and example usage of components.

Keep up the good work.

[2020-05-13 12:57] writing-shed opened #66 "Navigating a Page Control"
I have used PaginationControl with a ForEach view. I would like to add control buttons to navigate between views. Is this possible, and if it is, how?

[2020-05-15 14:02] vmanot commented on #66
@writing-shed check out `PreviousButton` and `NextButton`. `PaginationView` exposes something called a `ProgressionController` which can be used to move to next/previous.

[2020-05-15 14:03] vmanot commented on #65
Noted! It's a WIP - I'm building this library for use in several personal projects as well as commercial ones, so I'm a bit strapped for time.

[2020-05-15 14:03] #65 closed

[2020-05-16 08:47] writing-shed commented on #66
Thanks for this. I have tried it but found that the environment variable is set to nil. Here's my code:

struct TextEditView: View {
    @Environment(\.progressionController) var progressionController
    var text:String
    var ranges:PageRanges
    var body: some View {
        VStack {
            HStack {
                PreviousButton(action: {
                    self.progressionController?.

[2020-05-17 16:52] vmanot commented on #64
@KALIMI that's very weird :(

Could you upload an example project reproducing this issue?

[2020-05-21 01:15] fatbobman opened #67 "The content in CocoaScrollView is not displayed."
The content in CocoaScrollView is not displayed.
I'm using the latest version

[code]

[2020-05-21 11:50] writing-shed opened #68 "ImagePicker"
It would be nice if you could  #add the option to choose the SourceType on the interface rather than hardwire it to .photoLibrary.

BTW You haven't responded to my comment on issue #66 (which you had closed).

[2020-05-21 12:10] vmanot commented on #66
@writing-shed apologies for not seeing the comment! `PreviousButton` and `NextButton` are meant to be used _within_ `PaginationView ` content.

If you want to control pagination from _outside_, you have to maintain a `@State` variable for your current page index and pass it to `PaginationView`'s `currentPageIndex(_:)` modifier.

Reopening until its completely resolved :)

[2020-05-21 12:13] vmanot commented on #67
@fatbobman adding `.fixedSize()` seems to have solved the problem for me - but this is weird, I'll investigate it!

[2020-05-21 12:17] vmanot commented on #68
@writing-shed done! Funnily enough - I'd already coded support for this but forgot to expose it via a modifier. Thanks for bringing it up.
<img width="1252" alt="Screen Shot 2020-05-21 at 5 47 06 PM" src="https://user-images.githubusercontent.com/5306992/82558363-18612300-9b8b-11ea-94de-868276ebf105.png">

[2020-05-21 12:27] writing-shed commented on #68
Thanks. I'm no GitHub expert - will you be updating the package?

[2020-05-21 12:35] fatbobman commented on #67
After adding .fixedSize() I can now see the content. However, this requires specifying the width of the Cell.
after using .frame I got the same solution.
[code]
Expect a complete resolution.
Thank you for doing such an excellent project.

[2020-05-21 12:40] fatbobman opened #69 "CocoaTextField Bug"
[code]
after using .placeholder , the app will crush.

And I have another question, how do I change the color of TextField's input text ?
I can't use .foregroundColor(.red)  to do it.

[2020-05-21 14:38] vmanot commented on #69
@fatbobman could you attach the crash report?

[2020-05-21 14:39] vmanot commented on #68
@writing-shed I've already pushed the change. To update in Xcode:

**Select File ▸ Swift Packages ▸ Update to Latest Package Versions**

[2020-05-21 16:46] RobertKoval opened #70 "NavigationBar custom View gesture bug"
[code]

When I click first time on the label, pop-up is presented. Inside pop-up I select the option which changes **title** state and closes itself, after that title view stops responding to tap gestures.

[2020-05-21 18:43] writing-shed commented on #68
OK, got it. Thanks very much.

[2020-05-21 18:43] #68 closed

[2020-05-21 18:44] writing-shed commented on #66
Thanks very much.

[2020-05-21 18:44] #66 closed

[2020-05-22 00:29] fatbobman commented on #69
[code]

crash report
[code]

more
[code]

[2020-05-22 08:08] writing-shed opened #71 "PaginationView & ProgressionController"
Following your suggestion in #66 I have tried using prevButton etc within a PaginationView content with @Environment(\.progressionController) var progressionController. When the code is executed the progessionController value is nil. I can see that it is set privately in the controller code, but it doesn't seem to expose it publicly. What am I missing?

[2020-05-22 10:04] vmanot commented on #71
@writing-shed ah, something seems broken then! Can you post a simplified example that reproduces this? And could you also tell me what version of iOS you're running, and what version of Xcode you're using?

[2020-05-22 10:04] vmanot commented on #70
I'll take a look, thanks for pointing it out.

[2020-05-22 13:20] writing-shed commented on #71
I'm using Xcode 11.5 and iOS 13.5 and Catalina 10.15. Here's some code that shows the problem.

import SwiftUIX

struct Data:Identifiable {
    let id = UUID()
    var text:String
}

struct ContentView: View {
    @Environment(\.progressionController) var progressionController

    let data = [Data(text: "Page 1"), Data(text: "Page 2"), Data(text: "Page 3")]

    var body: some View {
        Pagi

[2020-05-23 09:10] vmanot commented on #71
@writing-shed ah, this won't work because you're still referencing `progressionController` from _outside_ the `PaginationView` (in `self.progressionController?.moveToNext()`). What you'd need to do here is wrap:

[code]

[2020-05-23 09:14] vmanot commented on #71
@writing-shed the first button will not work, the second one wrapped in `ChildView` will. Because to use `progressionController`, the view needs to be a descendant of `PaginationView`.`ContentView` is not a descendant of `PaginationView` in this case - so `progressionController` on it is `nil`.

[2020-05-23 11:23] vmanot commented on #63
@riccardo-lomazzi `CocoaList` now supports a `contentOffset(_:)` modifier, and accepts a `Binding<CGPoint>`.

See [this tweet](https://twitter.com/vatsal_manot/status/1264154161093861376?s=20) for a demo.

[2020-05-23 12:37] riccardo-lomazzi commented on #63
Splendid, thanks a lot!

[2020-05-23 16:45] vicky-ghost opened #73 "XCode 11.5 Archive Issue"
<img width="644" alt="Screenshot 2020-05-23 at 10 14 37 PM" src="https://user-images.githubusercontent.com/65822824/82735890-d24ebf80-9d42-11ea-9121-ef7e9f00f072.png">

[2020-05-24 12:53] vmanot commented on #63
@riccardo-lomazzi I'm slightly concerned about the implementation (performance-wise), so please update me if you notice any oddities.

[2020-05-24 12:59] vmanot commented on #73
@vicky-ghost project archives successfully on my end (Xcode 11.5 GM). Try weak linking SwiftUIX to your app - it's an issue with the Swift compiler's library linker, not SwiftUIX.

[2020-05-24 12:59] #73 closed

[2020-05-24 14:22] #63 closed

[2020-05-25 03:16] fatbobman opened #74 "contentOffset doesn't work for CocoaList"
Contentoffset works very well under CocoaScrollView.
But it doesn't work under CocoaList.

[code]

[2020-05-25 13:30] vmanot commented on #74
@fatbobman investigating it, thanks for raising the issue.

[2020-05-25 13:31] vmanot commented on #71
Closing due to inactivity - please feel free to reopen if the issue persists.

[2020-05-25 13:31] #71 closed

[2020-05-25 14:37] vicky-ghost commented on #73
@vmanot  Weak linking did not help, Did you try XCode 11.5 Public Release?

[2020-05-25 15:04] welove commented on #53
Hello, this auto height feature would be really useful.
Right now I have a paginating view with text and images, and I have to set heights for iPhones and iPads, each of them a different height for portrait or landscape, each iPhone and iPad have different sizes witch can make a text multiline or not, not to count when the app can be in a split view when multitasking on the iPad. Pleeeeeease make

[2020-05-26 02:40] fatbobman opened #75 "ObservedPublisher for CurrentValueSubject"
ObservedPublisher is a great solution that combines @State and onRecevie into one. But when using CurrentValueSubject there is a problem, ObservedPublisher ignores dropping the first value.
I added a line to the code and now it adapts nicely to CurrentValueSubject.

[code]

[2020-05-26 07:43] writing-shed commented on #71
Sorry for not getting back to you, I have been tussling with a different issue. Anyway, thanks for clearing this up. I have to say I'm very impressed with your code. I've been writing code and teaching for 53 years and have seldom seen such quality.

[2020-05-26 12:42] writing-shed opened #76 "PaginationView and currentPageIndex"
Further to my recent PaginationView issue I would like to get the current page number, but can't see a way of achieving this. Is there one?

[2020-05-26 14:25] vmanot commented on #76
@writing-shed `currentPageIndex` takes a `Binding<Int>`. This `Binding` is bidirectional. When you modify the `@State` behind this binding, `PaginationView` reacts, and when the user swipes manually, the current page index is written back to the same `Binding<Int>` passed. Your `@State` and the internal page view controller state are kept in sync at all times.

[2020-05-26 14:32] vmanot commented on #75
@fatbobman this is a great catch, and I actually faced the exact same problem while initially writing it!

Very neat workaround, just trying to think of any possible downsides. Could you also think about any potential problems with the delay? I'd be inclined to accept this solution and incorporate it immediately, except I've been burnt by optimistic reactive programming one too many times :p

[2020-05-26 14:40] writing-shed commented on #76
Yes, but what is the receiver for currentPageIndex? It seems to want PaginationView<Page> and I can't figure out how to save that.

[2020-05-26 14:43] vmanot commented on #71
@writing-shed thank you, that's very kind of you to say! This has actually prompted me to start documenting my `PaginationView` code more thoroughly, I appreciate the much needed motivation :p

[2020-05-26 14:47] vmanot commented on #76
@writing-shed tad confused by the problem you're facing, but let illustrate what I meant with an example:

[code]

[2020-05-26 14:48] vmanot commented on #76
`@State var currentPageIndex` here is always synced with whatever the user decides to swipe/jump to. Even if you never end up setting `currentPageIndex` programmatically, it still serves as a way for `PaginationView` to record what the current page index is.

[2020-05-26 15:01] writing-shed commented on #76
I just tried it with the following, but the page num doesn't change?

struct PaginatedView: View {
    var text:NSAttributedString
    var ranges:PageRanges
    @State private var rect: CGRect = CGRect()
    @State var pageNum = 0

    var body: some View {
        VStack {
            PaginationView(axis: .horizontal, transitionStyle: .pageCurl, showsIndicators: false) {
                ForEach(r

[2020-05-26 15:34] writing-shed commented on #76
Sorry, the number does change when I swipe, but not when I tap on the buttons.

Also, how can I change the number if I add buttons to jump to the first/last page?

[2020-05-26 15:52] vmanot commented on #76
This is a bug! Fixing it right now, give me a couple of minutes.

[2020-05-26 16:24] vmanot commented on #76
@writing-shed fixed!

[2020-05-26 16:40] vmanot commented on #76
![Pagination](https://user-images.githubusercontent.com/5306992/82926990-9f543800-9f9d-11ea-88c0-6e4025cc80f8.gif)

[code]

[2020-05-26 23:37] fatbobman commented on #75
Okay. Since I'll be using this scheme for my own projects, I'll be watching closely and continuing to study it. The biggest pitfall at the moment is that the internal implementation mechanism of Combine is still unstable and may be subject to constant change.

[2020-05-28 09:10] vmanot commented on #53
@welove taking a look at it - hopefully I can solve it today.

[2020-05-28 17:26] vmanot commented on #76
@writing-shed let me know if this has solved your problem - so that I can close this issue.

[2020-05-28 17:40] writing-shed commented on #76
Your solution is OK when the pages are listed, but not if the ForEach option is selected, unless I'm missing something. Here's what I've got now:

struct PaginatedView: View {
    var text:NSAttributedString
    var ranges:PageRanges
    @State private var rect: CGRect = CGRect()
    @State var pageNum = 1

    var body: some View {
        VStack {
            PaginationView(axis: .horizontal, tr

[2020-05-28 18:14] vmanot commented on #76
@writing-shed one problem I see here is duplicate modifications to the page state variable:

[code]

`moveToNext()` will already increment the `Binding<Int>` for you.

[2020-05-28 18:19] vmanot commented on #76
@writing-shed `PageRight` and `PageLeft` can be re-expressed using SwiftUIX primitives as such:

[code]

[2020-05-28 18:31] writing-shed commented on #76
Brilliant. I should have twigged that they use ProgessionController. Thanks. All works well now.

[2020-05-28 18:31] #76 closed

[2020-05-28 19:21] BenSova opened #79 "Build errors in watchOS and tvOS"
**watchOS**
This error came up where you were calling an extension to `AppKitOrUIKitHostingControllerProtocol`. I noticed that most of the file is hidden from watchOS, except for this extension, though. You can probably solve this by hiding the extension from watchOS.
[code]

**tvOS**
This one came up at `if base?.isPagingEnabled ?? false` (Under `_UIHostingScrollViewRootView`).

**Errors**
watchO

[2020-05-28 23:11] vmanot commented on #79
@BenSova fixed, thank you for raising the issue!

[2020-05-28 23:11] #79 closed

[2020-05-28 23:15] vmanot commented on #53
@welove could we discuss this? I'm unsure as to what behavior you want with `PaginationView`. Dynamically changing height based on content seems a bit jarring - do you want the maximum height selected?

[2020-05-28 23:25] vmanot commented on #75
@fatbobman how about this instead?:

[code]

The reason I'm hesitant to use the initial solution is because it's a constant `delay` applied to the publisher. I know, it's just one nanosecond, but it's the difference between synchronous and asynchronous - i.e. additional overhead.

[2020-05-28 23:46] welove commented on #53
I believe the best solution is to assume the height of the tallest page of all. That way is guaranteed that no content gets clipped/cut

[2020-05-29 00:24] fatbobman commented on #75
Good solution！ The logic is also clearer.

[2020-05-29 12:40] vmanot commented on #75
@fatbobman could you see if this works for you, in your projects? I'm testing here as well.

[2020-05-29 13:24] fatbobman commented on #75
@vmanot I've tested it and it runs well in my project.

[2020-05-29 15:47] vmanot commented on #75
@fatbobman implemented. Thanks again!

[2020-05-29 15:47] #75 closed

[2020-06-01 14:14] RobertKoval commented on #70
it's related to: https://stackoverflow.com/questions/58512344/swiftui-navigation-bar-button-not-clickable-after-sheet-has-been-presented

[2020-06-03 09:57] welove commented on #53
Hello, any progress on this? I'm almost launching an app and this update would be very welcome 🙏

[2020-06-03 14:40] vmanot commented on #53
@welove I really can't figure out how to get this to work - calculating and setting `view.frame.size`on the underlying `UIPageViewController` doesn't seem to work :/

[2020-06-05 21:38] #64 closed

[2020-06-05 21:40] vmanot commented on #70
@RobertKoval I'm marking this as an Apple bug then.

[2020-06-05 21:40] #70 closed

[2020-06-06 03:03] kitwtnb opened #80 "Cannot contribute to the wiki"
This library is great, but not enough documented.
How do I editing document in the Wiki?

[2020-06-06 16:22] BenSova commented on #80
@kitwtnb, as of right now, the wiki requires you to have push access to edit it, so @vmanot would have to add you as a contributor.
However, you could probably:
-  Clone the wiki to your computer (https://github.com/SwiftUIX/SwiftUIX.wiki.git)
- Make some changes.
- Upload the files, vmanot can add them to the wiki.

[2020-06-06 16:24] vmanot commented on #80
@kitwtnb feel free to raise a PR with the documentation in the README - I'll move it to the wiki. Not ideal - but unfortunately GitHub wikis do not support raising/merging PRs.

[2020-06-07 00:18] BenSova commented on #80
Another suggestion, what if there was a docs folder that is a mirror of the wiki? Then, it'd be a little bit more practical, and the wiki could be accessed easier by anyone who has the repo on their computer.

[2020-06-07 21:41] vmanot commented on #80
@BenSova I think I found a solution! - https://github.com/marketplace/actions/publish-to-github-wiki

[2020-06-07 22:05] BenSova commented on #80
@kitwtnb Just so you know, vmanot found a solution that works with my idea of a docs folder. (See #81 for more).

[2020-06-08 03:47] kitwtnb commented on #80
Thanks for @BenSova !
I will documentation.

[2020-06-08 20:16] yyl0 opened #84 "UIPageViewControllerOptionsKey"
is there a way to insert UIPageViewControllerOptionsKey for spacing between paging view items in the init? i am using this from swift package manager

[2020-06-09 11:58] vmanot commented on #84
@yyl0 I'll look into adding support, thanks for raising the issue.

[2020-06-11 22:04] BenSova commented on #80
@vmanot Would you like me to hold on to my fork? I looked over the code of the action and it appears to need the wiki already inside the code, otherwise it might wipe the wiki (just a guess).

[2020-06-12 19:34] vmanot commented on #80
@BenSova sorry for the late reply, been busy with a couple of things. You can discard the fork, it's just a trivial matter of cloning the wiki myself. Will do it all at once when I set up the action(s).

Thanks again :)

[2020-06-19 12:30] ismyhc opened #86 "BlurEffectView & VisualEffectView Examples?"
Hi, could someone point me in the right direction to using the BlurEffectView & VisualEffectView's?

Id like to create a view here the background is a BlurEffectView.

Thanks for any help :)

[2020-06-21 11:12] FaizanDurrani opened #87 "Unable to compile on iOS"
Getting this error when trying to compile for iOS.
`Cannot invoke initializer for type '_UIViewControllerLifecycleEventView<Content>.UIViewControllerType' with no arguments`

I believe it's because you're trying to initialise `UIViewControllerType` which extends `UIHostingViewController` so it needs to be initialised with one of the constructors from `UIHostingViewController`.

[2020-06-21 17:16] vmanot commented on #87
@FaizanDurrani this is weird - I can't reproduce this on Xcode 11.5 (GM). Could you try updating to the latest commit and check again?

[2020-06-21 20:27] BenSova commented on #87
@FaizanDurrani Can you give the path of where the error is occurring? I tried `swift build -v`, but like @vmanot, it's giving me normal results (Except for the ~96 warnings about `Image(systemName:)` on macos). The path to the error shows where the error occurred, whether it is because of SwiftUIX or something in your code (or both).

[2020-06-23 20:08] jchitel opened #90 "Xcode 12 beta: Fails to compile"
In _PaginationView.swift, line 202 and 256:

Code for reference (same in both places):

[code]

Error message (on `flatMap` line):
[code]

[2020-06-23 22:38] vmanot commented on #90
@jchitel this is fixed on `master` - please update your SwiftUIX package.

[2020-06-23 22:38] #90 closed

[2020-06-23 22:38] #87 closed

[2020-06-26 08:50] writing-shed opened #91 "_PaginationView compilation with Xcode 12 beta"
When compiling with Xcode 12 beta the compiler runs out of steam compiling the Combine code on a 16Gb/256Gb MacBook Pro.

The error is on line 249 in
func pageViewController(
            _ pageViewController: UIPageViewController,
            viewControllerAfter viewController: UIViewController
        ) -> UIViewController?
The error says: The compiler is unable to type-check this expression in r

[2020-06-26 12:21] writing-shed opened #92 "Another PaginationView issue"
After thinking it was all working it I've discovered another issue. For reasons I can't figure out it always displays page 2 first instead of page 1. Here's the code (using Xcode 11). I can see it step through the ForEach with pageRange set ok, but then the first time it gets to TextPageView it passes the second pageRange with page = 2:

struct PaginatedView: View {
    var text:NSAttributedString

[2020-06-26 16:42] writing-shed commented on #92
Doh! It's because pageNum is initialised to 1 not 0.

[2020-06-26 16:42] #92 closed

[2020-06-26 20:32] PKizzle commented on #91
If try to circumvent the error by using `if-else` syntax you will encounter a different one:
`error: Abort trap: 6`

[2020-06-28 08:03] writing-shed commented on #91
It would be great if you could fix this because I can't move to Xcode 12 until you do. I have encountered the same problem elsewhere with Xcode 11. It simply requires you to split the code up - for example, in this case, move the extensions into separate files.

[2020-06-28 13:26] PKizzle commented on #91
Were you able to successfully compile by splitting up the code yourself?

[2020-06-28 13:32] writing-shed commented on #91
Not with this issue, but I hit the issue with my own code using Combine (and that was using Xcode 11). I did split that code up and it compiled. I think Combine code must consume lots of resources when compiling.

[2020-06-29 07:00] YasaminZamaniPro commented on #91
Have the same problem for .flatMap function.
Also waiting..
Thanks

[2020-06-29 11:36] vmanot commented on #91
@writing-shed can you try removing and re-adding SwiftUIX? I suspect that Xcode is not updating to the latest `master`. This issue was fixed by @Brett-Best with #88.

[2020-06-29 11:37] vmanot commented on #86
@ismyhc documentation is coming up soon! Apologies for the delayed reply, WWDC-week has been crazy!

[2020-06-29 11:55] vmanot commented on #91
So, it's been compiling fine on my MacBook Pro (15-inch, 2019) after #88, but I've still pushed some more type disambiguation with the [latest commit](https://github.com/SwiftUIX/SwiftUIX/commit/5a1a220a4fd8ee1121a6a8c7ffcfd1e71d41b3f7).

I've also moved some delegate code to `UIHostingPageViewController`. An internal refactor of `PaginationView` is underway, adding support for dynamic `ForEach` w

[2020-06-29 12:25] writing-shed commented on #91
I reinstalled the package, did a clean build, but it still fails on the flatMap on line 249

            return pageViewController
                .allViewControllers
                .firstIndex(of: viewController as! UIHostingController<Page>)
                .flatMap({
                    $0 + 1 == pageViewController.allViewControllers.count
                        ? (parent.cyclesPages ? pageVi

[2020-06-29 12:49] YasaminZamaniPro commented on #91
It works for me now. Thanks a lot! 🤗

[2020-06-29 13:06] PKizzle commented on #91
I still get a compilation error `error: Abort trap: 6` when using the PaginationView. If I remove it from my project it compiles fine.

[2020-06-29 13:22] vmanot commented on #91
@writing-shed `flatMap` has been moved to `UIHostingPageViewController` - are you seeing the same on your checkout for SwiftUIX? SPM is _extremely_ buggy, even on Xcode 12, and sometimes fails to update packages repeatedly.

[2020-06-29 13:23] vmanot commented on #91
@PKizzle can you create a gist for your checked out version of `_PaginationView`? I suspect SPM failed to update. If it still fails, free to get on an iMessage chat and fix it (@writing-shed for you as well, if it persists). My iMessage ID is vatsal.manot@yahoo.com.

[2020-06-29 13:27] PKizzle commented on #91
@vmanot Here is my gist: https://gist.github.com/PKizzle/786dec60a4d3681369a2a726fe287e11

[2020-06-29 13:27] vmanot commented on #91
@writing-shed Lines `195` and `249` don't have `flatMap` anymore - I'm convinced that this is a stale checkout (unfortunately an Xcode bug, please file radars and post the numbers here, I'll duplicate them).

As you can see - this is the latest version of `_PaginationView` (where lines `195` and `249` are completely different):

<img width="1115" alt="Screen Shot 2020-06-29 at 6 55 52 PM" src="htt

[2020-06-29 13:27] vmanot commented on #91
@PKizzle could you try building _only_ SwiftUIX? I have a feeling that it traps when building it across modules. You do seem to have the latest version.

[2020-06-29 13:29] PKizzle commented on #91
Building only SwiftUIX works fine. However I am unable to use the PaginationView in my project.

[2020-06-29 13:30] vmanot commented on #91
@PKizzle could you show me your call-site for `PaginationView`? I think I may know the fix.

[2020-06-29 13:31] writing-shed commented on #91
This is weird. I just tried Xcode 12 again and I guess it must have reloaded SwiftUIX because the code has been updated, but now I too am getting abort trap 6.

[2020-06-29 13:32] PKizzle commented on #91
[code]

[2020-06-29 13:35] vmanot commented on #91
@PKizzle I'm pushing a commit with a potential fix in a few minutes, will ping once done here.

[2020-06-29 13:37] writing-shed commented on #91
Compiling SwiftUIX alone works fine

[2020-06-29 13:40] PKizzle commented on #91
This is the complete error stack dump:
[code]
[code]

[2020-06-29 13:42] vmanot commented on #91
@writing-shed @PKizzle just pushed another commit, please try it out and see if it fixes the `error: Abort trap: 6`. If not, please file a bug with the last copy of SwiftUIX attached in your radar, and pray that Apple fixes it :(

[2020-06-29 13:47] PKizzle commented on #91
@vmanot I am very sorry, it still does not compile 😕

[2020-06-29 13:57] PKizzle commented on #91
I've send a bug report to Apple. Let's hope they'll fix it in an upcoming version of Xcode 12 / Swift 5.3
@vmanot  Do you see any [Known issue](https://developer.apple.com/documentation/xcode-release-notes/xcode-12-beta-release-notes) that may be related?

[2020-06-29 13:58] writing-shed commented on #91
I deleted SwiftUIX and reinstalled but it still doesn't compile - same issue Abort trap 6. Sorry.

[2020-06-29 14:00] vmanot commented on #91
@writing-shed @PKizzle please file bug reports as solving this (especially for a beta version of Xcode) is completely out of scope. Someone actually ran into a similar issue and got their solution through raising an Apple DTS - but you won't be able to do that here as it's a beta setup - the process is unfortunately going to be longer here. I'm marking this as `wontfix` as cross-module compiler bu

[2020-06-29 14:05] vmanot commented on #91
@PKizzle to answer your question - this _may_ help, though it really shouldn't. But it's a complex compiler, so who knows ¯\_(ツ)_/¯

[2020-06-29 14:05] PKizzle commented on #91
The new feedback assistant does not allow for public sharing of the sent information. However it somehow help here's the feedback ID: FB7821652

[2020-06-29 14:27] Brett-Best commented on #91
@PKizzle can you try this:
[code]

[2020-06-29 14:32] PKizzle commented on #91
@Brett-Best You're the best! This works! 🥳

[2020-06-29 14:37] YasaminZamaniPro commented on #91
I just updated the package 🙈
But now I’m afraid to update it again and it won’t work 😁🤦🏻‍♀️

[2020-06-29 14:39] Brett-Best commented on #91
You don’t have to use AnyView here either, it just needs help figuring out the generic type. I wonder if the requirements of a function builder have changed.

[2020-06-29 14:39] PKizzle commented on #91
@YasaminZamaniPro No worries, it should all work fine. If you don't use a PaginationView at all, there's no issue.

[2020-06-29 14:50] vmanot commented on #91
@YasaminZamaniPro hahaha, you can update without any issues - I've just added some `@inlinable` and `@usableFromInline` optimizations. They solved someone else's compiler issue, and it was the official solution provided by the Apple DTS folks.

[2020-06-29 16:35] vmanot commented on #91
@writing-shed does @Brett-Best's solution work for you? If so - then I'll close this ticket.

[2020-06-30 07:26] writing-shed commented on #91
Great stuff - it worked. I added the two bold components:

struct PaginatedView: View {
    var text:NSAttributedString
    var ranges:PageRanges
    var orientationSubscriber:OrientationSubscriber
    @State private var rect: CGRect = CGRect()
    @State var pageNum = 0

    var body: some View {
        VStack {
            PaginationView**<AnyView>**(axis: .horizontal, transitionStyle: .pageCur

[2020-07-01 09:50] vmanot commented on #91
Closing this then, awesome work @Brett-Best!

[2020-07-01 09:50] #91 closed

[2020-07-01 09:58] vmanot commented on #84
@yyl0 you can now set `interPageSpacing` via the `PaginationView.interPageSpacing(_:)` modifier.

[2020-07-01 09:58] #84 closed

[2020-07-01 10:59] vmanot commented on #67
This cannot be fixed without using `fixedSize()` unfortunately, I'm not aware of a workaround. If you do find one, please do let me know and/or open up a PR!

[2020-07-01 10:59] #67 closed

[2020-07-01 11:00] vmanot commented on #69
Can't reproduce it on iOS 14b1, looks like this is a SwiftUI bug. Closing this issue - feel free to reopen if it persists on iOS 14.

[2020-07-01 11:00] #69 closed

[2020-07-01 11:01] vmanot commented on #53
Closing this issue as I don't know how to fix this - or even the best API. Please reopen if you have any workarounds, and/or raise a PR.

[2020-07-01 11:01] #53 closed

[2020-07-01 18:37] yyl0 commented on #84
awesome thanks man!! keep up the great work

[2020-07-05 10:23] vmanot commented on #92
@writing-shed happens to the best of us :)

[2020-07-08 11:20] jagan510710 opened #94 "isanimating property for activity view"

[2020-07-08 12:16] vmanot commented on #94
This already exists. You simply have to use the `animated` modifier on `ActivityIndicator`.

<img width="907" alt="Screen Shot 2020-07-08 at 5 45 51 PM" src="https://user-images.githubusercontent.com/5306992/86917561-df810b80-c142-11ea-8e64-2a54db92b8be.png">

[2020-07-08 12:16] #94 closed

[2020-07-13 00:17] PKizzle opened #97 "NavigationLink not working inside CocoaScrollView"
Any NavigationLink placed inside a CocoaScrollView will not redirect to its destination.
The destination view seems to get loaded, but the visual redirect does not happen.

[2020-07-13 15:46] vmanot commented on #97
@PKizzle is this on iOS 14?

[2020-07-13 16:17] PKizzle commented on #97
Yes, exactly.

[2020-07-14 19:31] vmanot commented on #97
@PKizzle hmm, that's weird. Then again, `NavigationLink` has always been an odd fellow. File a bug for iOS 14 beta, maybe? Let me know if you do file it, I'll dupe.

It's definitely an Apple bug, because `CocoaScrollView` is using no private APIs.

[2020-07-15 18:26] PKizzle commented on #97
How can I share a bug report with you? I guess there is only the Feedback assistant nowadays?

[2020-07-16 12:13] vmanot commented on #97
@PKizzle even earlier there was no way to share a report with someone else :/

Just copy paste the title, body and feedback number of your report here, I'll create a new feedback report and file it myself.

[2020-07-16 14:37] PKizzle commented on #97
One thing that is strange: I tested another `UIScrollView` implementation which directly makes use of it (without a ?`UIHostingScrollView`) and there it seems to work
What does not work: Using it with your custom `UIHostingScrollView` or using an `UIViewControllerRepresentable`

[2020-07-16 14:40] PKizzle commented on #97
**Please provide a descriptive title for your feedback:**
`NavigationLinks do not work inside UIScrollView`

**Which area are you seeing an issue with?**
`SwiftUI-Framework`

**What type of feedback are you reporting?**
`Incorrect / unexpected behavior`

**Please describe the issue:**
`When using a NavigationLink inside a UIScrollView which is interfacing using a UIViewRepresentable, the Navigatio

[2020-07-16 23:54] vmanot commented on #97
@PKizzle could you link that working implementation? Using `UIScrollView`?

[2020-07-17 09:03] zsy78191 opened #99 "onDismiss func be called when presented view"
At AnyModalPresentation.swift file line 41 :

[code]
I think the second `onPresent` might be `onDismiss` , what lead that the onDismiss func be called when presented the view.

thanks for your excellent work.

[2020-07-17 11:12] vmanot commented on #99
Fixed by your PR! Thank you for reporting and fixing :)

[2020-07-17 11:12] #99 closed

[2020-07-19 00:40] MatthewCawley opened #102 "Tag Releases"
Please can you start tagging releases.

The changes to the RectangleCorner API made breaking changes to my project which took ages to track down. As everything is running from Master, reverting to previous commits was not easy.

Tagging release will avoid issues when breaking changes are made.

Thanks

[2020-07-19 11:20] vmanot commented on #102
Hey Matthew, I'm extremely sorry to hear about the trouble you faced. I've been planning to tag release for quite some time right now - was waiting for SwiftUI 2 to come out so that I could review the current API surface and clean it up for a proper "1.0". But given that I'm indeed making quite a few breaking changes in the coming weeks, I'll tag the current `master` as a 0.0.1 or something.

Than

[2020-07-19 14:14] PKizzle commented on #97
Using LegacyScrollView found here: https://stackoverflow.com/a/60168697/10969681

[code]

[2020-07-19 23:19] MatthewCawley commented on #102
Hi Vatsal,

Thank you for replying. Tagging before SwiftUI 2 comes out would be very beneficial especially for user's that do not initially move to SwiftUI 2 and want to stay on the old codebase.

That would be great to start a 0.0.1 and work from there :)

[2020-07-20 09:54] vmanot commented on #102
@MatthewCawley oh no, SwiftUIX is going to be fully backwards compatible with iOS 13. What I meant is, I want start tagging properly post Xcode 12 GM release. This is because I'm currently modifying a bunch of SwiftUIX's APIs (the sign-in with Apple button, for example) to match the iOS 14 APIs to provide backwards compatibility :)

[2020-07-23 18:17] Brett-Best opened #103 "redacted / unredacted - redactedIfAvailable / unredactedIfAvailable support"
Are you interested in adding redactedIfAvailable / unredactedIfAvailable functions?
I can make a PR.

[2020-07-23 19:19] vmanot commented on #103
@Brett-Best that'd be great. If you do, however, please make sure you gate them with `#if swift(>=5.3)`, because the current Xcode GM will not compile the code even if you mark the functions with an availability modifier.

[2020-07-23 21:10] AndrewSB opened #104 "Crash on iOS 13.3"
I'm seeing a crash on iOS 13.3 after including this package.

`symbol '_$s7SwiftUI4ViewPAAE11hoverEffectyQrAA05HoverE0VFQOMQ' not found, expected in '/System/Library/Frameworks/SwiftUI.framework/SwiftUI`

[code]

[2020-07-23 21:11] AndrewSB commented on #104
seeing if I can fix this, might be related to #48?

[2020-07-24 02:29] kaich opened #106 "compile error"
xcode : Version 11.2.1
swift 5

It doesn't compile complete.

File: `UIViewControllerLifecycleEvent.swift`

[code]

Error: `Cannot invoke initializer for type '_UIViewControllerLifecycleEventView<Content>.UIViewControllerType' with no arguments`

[2020-07-24 12:48] vmanot commented on #104
@AndrewSB you'll have to weakly SwiftUI. This is a compiler bug, which version of Xcode are you on?

[2020-07-24 12:50] vmanot commented on #106
SwiftUIX only supports the latest Xcode GM, can you update to Xcode 11.6?

[2020-07-24 12:51] vmanot commented on #104
@AndrewSB see #51.

[2020-07-24 12:51] #104 closed

[2020-07-24 12:54] #103 closed

[2020-07-24 13:40] Brett-Best commented on #103
@vmanot I’ll try and get something ready in the next couple of days (:

[2020-07-25 14:14] #106 closed

[2020-07-25 23:02] joeblau commented on #102
Yes, please tag releases, master is broken right now.

[2020-07-26 03:30] fatbobman opened #109 "Several suggestions and bugs about CocoaTextField"
1: placeholder
[code]
The above code will cause the app to crash. I can only temporarily use the following code a instead
[code]

2:Hope to add foregroundColor
I added one myself, hope to provide one directly

3: modification timing of UIHostingTextField.text
CocoaTextField works without any problems when inputting Western characters, but when inputting Chinese, if the real-time judgment check of

[2020-07-26 10:15] vmanot commented on #109
Firstly, thank you for opening up this issue!

For 1. how do we handle multiline text alignment? Is there an alternative solution?
For 2. Please dupe *FB8160567* "Expose the "foregroundColor" environment value (via EnvironmentValues)".
For 3. This is a good catch, it's very unfortunate that we have to rely on such hacks. Is it possible to conditionally detect the presence of Chinese characters to

[2020-07-27 05:52] kaich commented on #106
Sorry for so late replay. I update to Version 11.6. It works fine. Thanks

[2020-07-27 07:25] fatbobman commented on #109
For 1, I don’t know what you mean very much?
[code]
There is no problem with the alignment of the above code

For 3, Indeed, as you said, DispatchQueue.main.async is not necessary
It is best to adjust the timing of other input assignments. Not only Chinese, but also other East Asian scripts (system input methods that cannot achieve a keyboard character corresponding to a local character) may encou

[2020-07-27 11:52] vmanot commented on #109
@fatbobman what I meant is, if you have a multiline `placeholder`, does it appear correctly?

[2020-07-27 11:55] vmanot commented on #102
@MatthewCawley @joeblau I've tagged a working master with 0.0.1. It compiles fine for all targets on Xcode 11.6 (the latest GM).

[2020-07-27 11:57] #102 closed

[2020-07-27 11:58] vmanot commented on #102
Thank you for your patience folks! Please reopen this issue if you face any troubles with the 0.0.1 tag.

[2020-07-27 11:59] vmanot commented on #74
@fatbobman I'm planning on deprecating `CocoaList` - it's too cumbersome to implement and maintain.

[2020-07-27 11:59] #74 closed

[2020-07-27 12:25] vmanot commented on #97
No idea why `NavigationLink` won't work within `CocoaScrollView`, I tried a bunch of different techniques. I've faced similar issues with environment objects/environment keys not being propagated down through representables. Please keep filing bugs, and hope they fix it :(

[2020-07-27 12:25] #97 closed

[2020-07-27 12:29] vmanot opened #110 "Setup CI/CD"
We currently don't have any CI/CD set up. GitHub Actions is one good possible solution.

[2020-07-27 12:34] fatbobman commented on #109
For the code of placeholder, I made a little modification, at least now the app will not crash. But there are still some problems.
It seems that the font in the environment cannot be obtained. You must explicitly call .font to set the specified font. So I commented it out.
In addition, even if NSAttributedString is used, the width of the textfield will be destroyed for an extremely long placeholde

[2020-07-27 13:20] joeblau commented on #102
Thanks @vmanot !!

[2020-07-27 13:22] vmanot commented on #102
@joeblau SwiftUIX is also going to be a little more proactive [on social media now](https://twitter.com/SwiftUIX), all releases and major project updates will be tweeted there :)

[2020-07-27 21:58] vmanot commented on #106
@kaich no worries, glad it works for you now :)

[2020-07-28 02:30] golangnext opened #111 "ObservedPublisher Preview Compile fails"

[2020-07-28 02:44] #111 closed

[2020-07-29 16:40] tklightningfast opened #112 "IntrinsicGeometryReader explanation"
Hey! Thanks for the great repository. I noticed that it contains something called an `IntrinsicGeometryReader`, which sounds like what I'm looking for but I'm a little lost in how to use it. The wiki says TBD, so I figured I'd ask about it here. I'm looking for a long-form text editor. The new SwiftUI Beta introduced `TextEditor` which is kind of what I'm looking for, but the content takes up the

[2020-07-30 13:29] vmanot commented on #112
@tklightningfast I'm not sure whether `IntrinsicGeometryReader` can help you in this particular case - it's meant to read the frame of the view that you wrap with it. The word "intrinsic" may be confusing coming from a UIKit background, but `IntrinsicGeometryReader` doesn't use UIKit's `intrinsicContentSize` concept.

You _could_ render a hidden `Text` and then use its acquired frame to set the `T

[2020-07-30 13:29] #112 closed

[2020-07-30 18:50] lorenzofiamingo opened #113 "OptionalObservableObject is not updating the view."
When I update a value inside the object, the view is not updating.
If I replace it when the SwiftUI ObservableObject it works.
I'm using iOS 14, XCode 12 beta

	@main
	struct TestAppApp: App {

		@OptionalObservedObject private var counter = Counter()

		var body: some Scene {
			WindowGroup {
				VStack {
					Text("\(counter?.clock ?? 0)")
						.onAppear {
							counter?.start()
						}
				}.

[2020-07-30 19:40] vmanot commented on #113
@lorenzofiamingo I'll take a look, thank you for bringing this to my attention!

[2020-07-31 08:45] #113 closed

[2020-07-31 08:46] vmanot commented on #113
@lorenzofiamingo closing thanks to your fix :)

[2020-08-02 17:16] hactar commented on #86
Also can't figure this out.

I can get BlurEffectView to work (though if I put a Text in the content the BlurEffectView does not hug the content but fills the screen - only workaround I have found is using it in the .background of the Text).

If I try to use the VibrancyEffectView the way I'd expect it to work, I only see the Text Label in black with no system material or vibrancy effect.

[code]

[2020-08-04 20:06] Neilpoulin opened #116 "Set PageControl tint colors"
I've looked in the source code and there seem to be a few API methods to set the `pageIndicatorTintColor` and `currentPageIndicatorTintColor`, but I haven't been able to get the color to actually change.

I've tried a number of things, including setting the environment key. Below is one example of how I've tried. I also tried adding these modifiers to various levels of the view hierarchy, with no

[2020-08-04 20:17] vmanot commented on #116
@Neilpoulin which version of Xcode & iOS are you on?

[2020-08-04 20:20] Neilpoulin commented on #116
Xcode 11.6
iOS 13.6 (simulator)

[2020-08-04 20:22] vmanot commented on #116
@Neilpoulin I think it's the custom `Color` → `UIColor` conversion that isn't working. On iOS 13, SwiftUIX resorts to an imperfect hack, `Color` → `UIColor` was only introduced recently with iOS 14, unfortunately :(

[2020-08-04 20:29] Neilpoulin commented on #116
Interesting. I use `UIColor -> SwiftUI.Color` (via the CustomColors) in many places in the code and it's worked great, so didn't think to try something different here.

I was able to set the colors successfully when using a native SwiftUI color. An example is below to help anyone that may come across this issue later.

[code]

[2020-08-04 20:29] #116 closed

[2020-08-04 20:38] vmanot commented on #116
@Neilpoulin you're talking about `UIColor` → `Color`. I'm talking the other way round :)

I need it in my view representables, but it's not officially available.

[2020-08-04 20:41] Neilpoulin commented on #116
Oh, I think I get you now.

Maybe there could be an separate API method to set the UIColor color directly, so you don't need to do the conversion? I can see how that would complicate things though...

[2020-08-05 13:26] prasannag opened #118 "Xcode 12 Beta 4: Fails to compile on `PerformActionOnKeyboardShortcut`"
In `PerformActionOnKeyboardShortcut.swift`, compilation fails with

This used to compile up until beta 3. I have checked release notes on beta 4, but there is no mention of changes to these APIs.

[2020-08-05 21:57] vmanot commented on #118
@prasannag this should be fixed now - please update SwiftUIX to the latest commit :)

[2020-08-05 21:57] #118 closed

[2020-08-05 22:11] Neilpoulin commented on #116
Wanted to leave a followup comment for how I got this working with any color I wanted: use Named Colors from an Asset Catalog. The "hack" that @vmanot mentioned looks like it has a fallback to try to use a Named Color if available. In my case, most of my colors were already named and in the Asset catalog, but not all (including the couple I tried to use initially).

Everything is working great now

[2020-08-05 22:25] vmanot commented on #116
@Neilpoulin great find!

[2020-08-09 15:30] lorenzofiamingo opened #119 "Projected values in object property wrapper should not be in this way"
All your objects, for example  [OptionalEnvironmentObject](https://github.com/SwiftUIX/SwiftUIX/blob/master/Sources/Intramodular/Dynamic%20Properties/OptionalEnvironmentObject.swift), have as projected value the Binding of themselves. This is not what Apple does for its `@ObservedObject`.

Instead, they should return a Wrapper that contains the binding values of the object properties.

I implement

[2020-08-10 09:44] vmanot commented on #119
@lorenzofiamingo great observation - could you create a PR for this?

[2020-08-14 23:16] garsdle opened #120 "StateObject for iOS 13"
Is possible to add a StateObject equivalent for those of us stuck supporting iOS13?

[2020-08-17 18:48] AndrewSB commented on #51
Coming from #104: I'm using SwiftUIX through the swift package manager, I'm not sure how to weakly link a spm dependency, could someone point me to how to do that, if it's possible?

[2020-08-18 15:23] Brett-Best commented on #51
@AndrewSB you don’t have to weak link SwiftUIX but rather SwiftUI. You can do this in the project settings for the iOS app target.

[2020-08-18 18:48] vmanot opened #122 "Fix compilation for Xcode 12 beta 5"
It's raining FIRE

[2020-08-18 22:09] #122 closed

[2020-08-19 02:39] AndrewSB commented on #51
ahh! got it, I misread the earlier comment. Will try soon and report back if I notice breakages

[2020-08-20 06:07] DominikButz opened #123 "Compiler is unable to type-check this expression... Xcode 12 issue"
Hi, when I tried to build my project in the latest Xcode 12 Beta 5, the build fails. The compiler shows an error pointing to this function, more specifically to flatMap. The error message "Compiler is unable to type-check this expression... " is the wrong error message of course but it seems something doesn't work in this function that prevents a successful build...

        func pageViewControlle

[2020-08-20 09:01] vmanot commented on #123
@DominikButz I'm unable to reproduce this. What platform target are you building for? Also, are you on the latest commit of SwiftUIX?

[2020-08-21 02:59] DominikButz commented on #123
It seems to be one of those weird random swiftui errors where the actual error actually originates somewhere else. I have just created an Xcode 12 test project and added SwifuiX as Swift package and it works. So case closed...
Seems I won't use Xcode 12 for a long time because my iOS 13 project is totally messed up when I try to run it in Xcode 12...

[2020-08-23 13:17] orkenstein opened #124 "Error during archive: Illegal instruction: 4 (in target 'SwiftUIX' from project 'SwiftUIX')"
I'm trying to build and upload an app with SwiftUIX package. The error log:
[code]

[2020-08-23 13:39] #124 closed, assigned to nobody

[2020-08-25 10:09] fatbobman opened #125 "How to add animation when adding and deleting items in CocoaList"
How to make cocoaList add and delete items dynamically. Can animation be used? I have no experience with uitableview. I don’t know where to make changes.

[2020-08-27 09:07] ghost opened #126 "ObservableBinding for @Binding"
Do we have a wrapper for @Binding with similar function as `@ObservableState`?  So we can get notified when @Binding value changes (also including previous value)

[2020-08-28 17:28] vmanot commented on #126
Yep, it's called `@ObservedValue`. It wraps a reference writable key path on an `ObservableObject` - and is passable from view to view similar to `@Binding`.

[2020-08-28 17:28] #126 closed

[2020-08-28 17:29] vmanot commented on #125
@fatbobman I'd love to look at it and improve the API - but I'm completely swamped with other work right now :(

If you want, I can help guide you to understand what would need to be changed.

[2020-08-28 23:43] fatbobman commented on #125
If I can get your guidance, I would like to try to make some changes by myself. I read a bit of information. If you want to use animation in uitableview to insert, delete or update data, you must explicitly operate on the data of the operation. For example:
insertRows(at indexPaths: [IndexPath],
            with animation: UITableView.RowAnimation)
Since the data is passed to cocoaList as a whole,

[2020-08-29 02:23] prasannag opened #127 "Xcode 12 fails to compile. Cannot find type 'ASAuthorization' in scope"
In `AuthorizationAppleIDButton.swift`, compilation fails with

This used to compile up until beta 5.

[2020-08-29 12:48] vmanot commented on #110
Closing this thanks to @Brett-Best!

[2020-08-29 12:48] #110 closed

[2020-08-29 12:49] vmanot commented on #127
@prasannag are you building from Xcode or from the command line? What target are you building for?

[2020-08-29 19:16] Brett-Best commented on #127
I was able to reproduce this by running:
`xcodebuild -scheme SwiftUIX build -configuration release -destination 'generic/platform=iOS Simulator’`

[2020-08-30 11:20] prasannag commented on #127
@vmanot @Brett-Best  I am seeing this problem when building in Xcode, you are not able to reproduce it with Xcode?

[2020-08-30 11:21] vmanot commented on #127
@prasannag I need the following information from you:
- Which Xcode version you're on.
- Which compile target you're building for.
- Whether you're building for **Debug** or **Release**.

[2020-08-30 11:21] Brett-Best commented on #127
@prasannag I could reproduce this compiling for the iOS Simulator using release configuration.

[2020-08-30 11:27] prasannag commented on #127
@vmanot
- Xcode 12 Beta 6 (12A8189n)
- Building for iOS (iPhone only)
- Debug build configuration

[2020-08-30 11:29] vmanot commented on #127
@prasannag I am not able to reproduce it. Are you on the latest `master`, or are you on `0.1`?

[2020-08-30 11:37] prasannag commented on #127
I can confirm that I am on latest master. Not sure how my configuration is different, will dig a bit more.

[2020-08-30 13:04] vmanot commented on #127
@prasannag we pushed some further updates to ease breakage on RELEASE builds for the simulator, but your case seems unique in that it's breaking on DEBUG as well. See if updating to master helps again.

[2020-09-01 05:34] jchitel opened #132 "Setting font for TextView doesn't work"
When you try to set the font for a `TextView` (either via `.font()` or `.environment(\.font, font)`), it still uses the default font.

I placed a breakpoint on [this line](https://github.com/SwiftUIX/SwiftUIX/blob/aee925b7f4b6a29cfb7985f32d411022176b53b3/Sources/Intramodular/Text/TextView.swift#L158) (where the environment font is applied to the `UITextView`), and it doesn't get hit. This means th

[2020-09-01 17:53] kerrmarin opened #133 "Change navigation bar color"
It would be a great feature to be able to change the navigation bar's color and it behave the same way it behaves in UIKit. The recommended way to change a navigation bar's color is to use the appearance proxy:

[code]

this works really well in SwiftUI as long as you want all navigation bars the same color. If you want to change just one navigation bar, the recommended way, in UIKit, is to change

[2020-09-01 19:11] vmanot commented on #132
@jchitel which version of iOS are you targeting?

[2020-09-01 19:12] jchitel commented on #132
iOS 13+ but I observed this in the iOS 14 emulator.

[2020-09-02 23:19] alexfringes commented on #127
Seeing this also. Same setup as @prasannag mentioned above. However, I'm only running into it when building for SwiftUI Previews, not for the simulator (or onto device).

[2020-09-03 16:35] vmanot commented on #132
@jchitel fixed.

[2020-09-03 16:35] #132 closed

[2020-09-03 17:01] vmanot commented on #127
@alexfringes @prasannag @pteasima I've created a temporary branch [`xcode12b6-patch `](https://github.com/SwiftUIX/SwiftUIX/tree/asauthorization-xcode12b6-patch) removing it altogether. This is an Xcode bug, and there doesn't seem to be a way around it.

So while we wait for the next beta, feel free to hop on to this branch to get your archives/previews working.

[2020-09-03 17:05] vmanot commented on #133
@kerrmarin I'd love to have this as well - unfortunately don't have the bandwidth to dedicate any more time to the navbar code. Feel free to poke around and create a PR if you find a solution.

One downside I see to this is that any animation style we choose would be arbitrary, there is no "bridging" a SwiftUI `Animation` to a `CAAnimation`. So it may not be possible to create a decent, generic AP

[2020-09-11 00:35] vmanot commented on #133
Closing this due to inactivity.

[2020-09-11 00:35] #133 closed

[2020-09-14 12:21] PKizzle opened #136 "Add alwaysBounce to CocoaScrollView"
Even though the CocoaScrollViewConfiguration supports it there is no ViewModifier available to change the alwaysBounceHorizontal or alwaysBounceVertical property.
This is especially helpful in combination with the `onRefresh` functionality.

[code]

[2020-09-15 07:53] writing-shed opened #137 ".keyboardAvoiding()"
I have been using .keyboardAvoiding() which I thought was part of SwiftUIX. If it was then it has gone. Am I correct?

[2020-09-15 20:38] vmanot commented on #137
@writing-shed it's now been renaming to `.padding(.keyboard)`, to better reflect the nature of its implementation.

[2020-09-15 20:38] #137 closed

[2020-09-15 20:57] vmanot commented on #127
Closing as Xcode 12GM seems to have fixed this.

[2020-09-16 02:42] writing-shed commented on #137
<rant> To be successful an API depends heavily on the quality of its documentation. SwiftUIX contains lots of good stuff, but the documentation is almost non existent. Perhaps that is intentional, but I doubt it. More likely it is lack of time. Saying this I wonder what Apple's excuse is for the lamentable state of SwiftUI documentation. </rant>

[2020-09-16 13:19] prasannag commented on #127
Thanks @vmanot! Amazing work.

[2020-09-16 13:23] vmanot commented on #127
@prasannag spoke too soon, it's still present. 😅

[2020-09-17 16:22] #136 closed

[2020-09-17 16:22] vmanot commented on #136
@PKizzle good catch, thanks!

[2020-09-17 16:32] vmanot commented on #137
@writing-shed it's due to a lack of time, unfortunately. I am looking up to ramp up documentation and reach a stable 1.0 version soon, but it will take a bit more time. I apologize for any unforeseen breakage in your projects.

[2020-09-21 07:33] jcrate opened #139 "Xcode 12, Mac Catalyst target"
When compiling a Mac Catalyst target, I get this error:

[code]

Mac Catalyst compiled fine with Xcode 11.

[2020-09-21 21:12] vmanot commented on #139
@jcrate please use the 0.0.2 tag for now. Mac Catalyst is currently broken on master because Apple decided to release Xcode 12GM without the Big Sur SDKs.

[2020-09-21 21:28] jcrate commented on #139
I tried the 0.0.2 tag before and that didn't compile either, with a few errors like:

[code]
despite the fact that it's marked `@available(iOS 14.0, OSX 10.16, tvOS 14.0, watchOS 7.0, *)` and my project has a destination of macOS 10.15. I guess that's also because of the Xcode 12 GM not shipping with Big Sur SDKs.

The project does compile and run for iOS 13 with SwiftUIX.

I only used SwiftUIX fo

[2020-09-23 02:29] vmanot commented on #139
@jcrate ah, my bad, I meant the 0.0.3 tag. Could you try that and let me know whether it works?

[2020-09-23 03:10] jcrate commented on #139
Sorry I should have been more specific when I opened this issue. The `UniformTypeIdentifiers ` error was with 0.0.3.

[2020-09-25 13:59] vmshaneeb opened #141 "Localizing placeholder"
Localizing of place holder strings is not working in SwiftUI..

I tried this..

`SearchBar(text: $searchTxt)
                .placeholder(String.localizedStringWithFormat(NSLocalizedString("Search", comment: "Search")))`

if I put

`SearchBar(text: $searchTxt)
                .placeholder(LocalizedStringKey("Search")))`

I get "cannot convert value of type 'LocalizedStringKey' to expected argument

[2020-09-25 20:43] jondwillis opened #142 "Split into modules"
It would be amazing if this library was split into modules, so developers could choose which features they want, while keeping the app size impact lower.

[2020-09-27 18:44] BenSova opened #143 "Search bar not deselecting"
The title says it all. The scroll bar does not deselect and hide the keyboard when I click the cancel (next to the search bar, search (on the keyboard), or start scrolling in my list.

[2020-09-30 18:20] jcrate opened #144 "CocoaTextField crashes with placeholder"
CocoaTextField crashes on iOS 14 (Simulator) and iOS 13 (iPhone 11, 13.7) when using a placeholder.

I'm not sure if it's related, but the label never displays. I didn't want a label so this doesn't matter.

I copied the CocoaTextField file to use in my project with a formatter, and to use a placeholder, I just changed this block of code to set the `uiView.placeholder` instead of the `uiView.attri

[2020-10-02 22:19] vmanot commented on #143
Fixed with the latest commit. Sorry for the late response!

[2020-10-02 22:19] #143 closed

[2020-10-02 22:19] vmanot commented on #144
@jcrate what's the crash log?

[2020-10-02 22:27] vmanot commented on #144
@jcrate nvm, figured out what the issue was. `font` is a SwiftUI `Font`, and I accidentally forgot to add the `.toUIFont()` conversion before passing it to `NSAttributedString`. It should be fixed now, thank you for your patience :)

[2020-10-02 22:27] #144 closed

[2020-10-02 22:28] vmanot commented on #142
@jondwillis I'm open to suggestions - I do understand that the project has grown considerably. Unfortunately, I don't have the time at the moment to split it up. Please contact me at vatsal.manot@yahoo.com (iMessage/Mail) if you do have concrete ideas on how to push this further, but I'm closing this ticket for now.

[2020-10-02 22:28] #142 closed

[2020-10-02 22:30] vmanot commented on #141
@vmshaneeb unfortunately, `LocalizedStringKey` is opaque to 3rd party developers and cannot be converted to a `String`. You'll have to resort to manual localization for now. I'd love to extend both `CocoaTextField` and `SearchBar` to support it fully, but there's no public API for me to consume here :(

[2020-10-02 22:30] #141 closed

[2020-10-02 22:48] #139 closed

[2020-10-02 22:49] #127 closed

[2020-10-02 22:49] vmanot commented on #125
@fatbobman extremely sorry for the late reply, last month was crazy. You can reach out to me at vatsal.manot@yahoo.com (iMessage) - and we can discuss this further :)

[2020-10-02 22:49] #125 closed

[2020-10-02 23:13] vmanot commented on #120
`PersistentObject` now works.

[2020-10-02 23:13] #120 closed

[2020-10-03 00:24] BenSova commented on #143
Thanks!

[2020-10-05 10:49] mlinzner opened #145 "PaginationView: PageControl not visible on bright backgrounds"
PageControl on bright background is not visible:
![Light Mode](https://user-images.githubusercontent.com/7240176/95070503-7fc9da80-0708-11eb-8660-95bc5a6e7771.png)

Same view in dark mode:
![Dark Mode](https://user-images.githubusercontent.com/7240176/95070542-8bb59c80-0708-11eb-9c62-5cb1e46a8a99.png)

I've worked around it by modifying `pageIndicatorTintColor` and `currentPageIndicatorTintColor`

[2020-10-05 21:00] vmanot commented on #145
@mlinzner is there a way to enable the system background programmatically, by modifying either `UIPageViewController` or `UIPageControl`? Because I could expose that as a view modifier.

[2020-10-06 07:32] mlinzner commented on #145
Yes, UIPageControl inherits `backgroundColor` from UIView and it works similar to the indicator tint colors:

[code]

<img width="166" alt="Screen Shot 2020-10-06 at 9 29 14 AM" src="https://user-images.githubusercontent.com/7240176/95171596-6c754880-07b6-11eb-873f-d4e83a665e06.png">

iOS 14 in addition added [`backgroundStyle`](https://developer.apple.com/documentation/uikit/uipagecontrol/backgro

[2020-10-06 20:46] vmanot commented on #145
@mlinzner pull in the latest master and use `View.pageControlBackgroundStyle(_:)` to set the background style for the page control.

[2020-10-07 05:07] #145 closed

[2020-10-07 06:53] mlinzner commented on #145
Amazing, thanks!

[2020-10-08 20:56] vmanot commented on #145
@mlinzner you're welcome! :)

[2020-10-16 09:07] mlinzner opened #147 "PaginationView: Dynamic content no longer working?"
Dynamic content loading (https://github.com/SwiftUIX/SwiftUIX/issues/50) doesn't seem to work anymore.

* Deploy Target iOS 14
* Xcode 12.0.1 (12A7300)
* SwiftUIX on master (0cee3386e843ebd3e442d5e6afa028356e28c539)

Plain Test Project with one view:

[code]
Result:
![Simulator Screen Shot - iOS 14 - 2020-10-16 at 11 00 05](https://user-images.githubusercontent.com/7240176/96238948-5712d200-0f9f-1

[2020-10-17 05:48] vmanot commented on #147
@mlinzner fixed - had to sprinkle in `@_disfavoredOverload` to improve overload resolution. SwiftUI confuses the compiler a lot.

[2020-10-17 05:48] #147 closed

[2020-10-17 08:01] easiwriter opened #148 "UniformTypeIdentifiers unavailable in MacCatalyst"
I'm getting a compilation error in FileImportLink.swift when compiling a universal app. It says UniformTypeIdentifiers is not available when building for Mac Catalyst. This started happening on move to Xcode 12

[2020-10-17 08:45] vmanot commented on #148
Can you try the 0.0.3 branch?

[2020-10-17 10:05] easiwriter commented on #148
That’s fixed it thanks

[2020-10-18 19:15] #148 closed

[2020-10-19 09:08] zecar opened #149 ".padding(.keyboard) not working"
[code]

this is my struct. When I open the keyboard from the TextField inside of Sections(), padding does not apply.

Also tried moving it around to other UI Elements and it does not apply anywhere

Am I missing something?

[2020-10-20 12:26] mistralaix opened #150 "Navigator always nil"
Hi,

I would like to use Navigator in my project.
The problem is that the navigator environment variable is always nil. It's working great for presenter but I don't understand why navigator is not working.

## What did I do:
I embedded my first view like that:
[code]

In my contentiew, I am getting the environment value:
[code]

When the user clicks on a button, I am doing the following action:
[c

[2020-10-21 07:48] kaich opened #151 "Will CocoaTextField support returnKeyType ?"
In many cases,  need to replace the return key on the keyboard with the done key. But I don't find the `TextField` support `returnKeyType`.  I refer to `CocoaTextField`, I also don't find the `returnKeyType` attribute.

Will support it?

[2020-10-21 12:46] alexyak opened #152 "Samples for CollectionView and List"
Where can find sample for how to use your CollectionView and List?

[2020-10-22 05:19] #151 closed

[2020-10-22 05:20] vmanot commented on #150
Hmm, can you wrap `contentView` in a `PresentationView` and see if that fixes your issue? Also, are you sure you're on the latest master?

[2020-10-22 07:16] vmanot commented on #149
I'm not really sure - is it possible for you to reproduce it in a sample project? Also, `.padding(.keyboard)` does exactly as advertised - _adds padding_. If your constraints are set up in a way where padding is impossible to add (maybe `Chat` is constrained by a parent view) - it will break your view.

[2020-10-22 18:36] vmanot commented on #151
I've added support for it.

[2020-10-23 02:50] vmanot commented on #150
@mistralaix oh nevermind, this is fixed! Please update to the latest `master`. Didn't realize `CustomNavigationView` was from this module itself lol

[2020-10-23 02:50] #150 closed

[2020-10-24 19:18] JulianKahnert opened #154 "AppActivityView terminates App on iPad"
When using `AppActivityView` on an iPad, the App terminates with this exception:
[code]

[2020-10-24 21:49] zkhalapyan opened #155 "Is _UIViewControllerLifecycleEventView dead code, needing cleanup, or can we use it publicly?"
Having this actually working would be super helpful, currently I am using copy/pasted code to do this outside of SwiftUIX. I have a few questions.

1. Is this dead code? I can't find any examples of people using this internally.
2. If not dead code, how is it supposed to be used?
3. If prefixing with `_` means private code, why is the access modifier public?

If you are curious, below is my curren

[2020-10-25 22:47] vmanot commented on #154
@JulianKahnert as a workaround, use `UserInterfaceIdiom` to check whether it's running on an iPhone or an iPad - and present as a popover on iPad.

[2020-10-30 01:10] #154 closed

[2020-10-30 01:12] vmanot commented on #155
It's unused code for now (not dead yet), I haven't had the time to think of the proper API surface. `_UIViewControllerLifecycleEventView` is not public (only `UIViewControllerLifecycleEvent` is).

[2020-10-30 01:12] #155 closed

[2020-10-30 01:13] vmanot commented on #149
Closing due to inactivity, feel free to reopen if the issue persists.

[2020-10-30 01:13] #149 closed

[2020-10-31 13:25] mistralaix opened #156 "NavigationBarItems(leading and trailing) not showing in modals when the center one is set"
Hi,

I would like to use a navigationBarItems in a modal.
When an item is set at the center, the leading and trailing views are not shown. If I remove the center one, leading and trailing items are shown.

#What did I do?
I am presenting my view like that:
[code]

In MyView:
[code]

Thank you all for your help!

[2020-10-31 13:44] mistralaix opened #157 "ModelView samples"
Hi,

I would like to create a wrapper for my views and I had a look into **ModelView**.
I tried to use it but I couldn't figure it out.
It would be great if you could provide a sample.

Thank you for your help!

[2020-11-01 19:15] zecar commented on #149
Sorry I was away.

The code works as intended.. if I added a fixed value for padding it worked, so no constrains from above

I think you can close this because I don't have the original code anymore and I fixed it with a snippet

`struct KeyboardAdaptive: ViewModifier {
    @State private var bottomPadding: CGFloat = 0

    func body(content: Content) -> some View {
        GeometryReader { geomet

[2020-11-02 00:42] vmanot commented on #156
@mistralaix fixed this, please pull in the latest `master`.

[2020-11-02 00:42] #156 closed

[2020-11-05 02:11] smaldd14 opened #158 "ImagePicker example"
Does anyone have an example of them using SwiftUIX's ImagePicker?

[2020-11-06 00:53] jackyccaa opened #159 "Performance for single source truth pattern state manangement"
This is not a bug report but kind of feature request.

SwiftUI&Combine is a big game change especially Redux-like single source truth state management. I can see a couple of framework like https://github.com/ReSwift/ReSwift.

However, all of those frameworks come a problem: scale performance. For example below, any change in `store` brings whole view rendering even I don't use that sub-state which

[2020-11-06 01:20] gliese667c opened #160 "It is great, but CocoaTextField not support Chinese and Japanese."
**Describe the bug**
It is great, but not support Chinese and Japanese.

**To Reproduce**

Just add a Chinese or Japanese keyboard then switch to it, type any words in CocoaTextField, the first word is correct, type one suggestion word, then type any words always are English.

[2020-11-06 23:17] vmanot commented on #160
@gliese667c this has been reported before - I'm really not sure what's causing the problem. Could you copy `CocoaTextField`'s implementation and play around with it?

[2020-11-06 23:19] vmanot commented on #159
@jackyccaa I have a framework used in a couple of production apps offering the granularity you're looking for - it's called [Reactor](https://github.com/vmanot/Reactor). I'll be adding documentation soon.

[2020-11-06 23:20] #159 closed

[2020-11-07 06:56] gliese667c commented on #160
I don't know what the problem is, it' s very weird.

[2020-11-07 15:22] lewis-smith opened #161 "CocoaTextField does not respect .font()"
Thanks for a great library! I found a small bug. I'm just going to use un-styled text in project, but I thought you might want to know.

    import SwiftUIX

    struct NoFontView: View {

        @State var title = "Hello world!"

        var body: some View {
            VStack {
                CocoaTextField("Title", text: $title)
                    .isFirstResponder(true)

[2020-11-09 04:54] vmanot commented on #161
Yeah, unfortunately SwiftUI exposes no way to convert a `Font` to a `UIFont`. So I end up depending on a fragile, runtime reflection based approach. `CocoaTextField` supports a `.font(_:UIFont)` modifier though, so if you pass in a `UIFont` it should work alright.

[2020-11-09 04:54] #161 closed

[2020-11-09 05:42] jevonmao commented on #158
I would love to help with adding an example into the documentation or whatever, how do I get started? I am new to this repository

[2020-11-09 17:55] Brett-Best opened #162 "iOS Application Extensions + macCatalyst not compiling currently"
See https://github.com/SwiftUIX/SwiftUIX/runs/1340633889 for the logs.

[2020-11-09 21:44] vmanot commented on #162
Fixed!

[2020-11-09 21:44] #162 closed

[2020-11-10 00:39] smaldd14 commented on #158
@jevonmao I believe if you reply to this feed and tag @vmanot , he may be able to add it to his documentation.

[2020-11-10 17:57] RobertKoval opened #165 "KeyboardAvoidance improvement"
Please, add public API for **isSystemEnabled** property in **KeyboardAvoidance** modifier. I need to move my View inside ZStack, which also has nested VStack with `.ignoresSafeArea(.keyboard, edges: .bottom) ` modifier. As the result, padding doesn't work when keyboard appears.

<img width="437" alt="image" src="https://user-images.githubusercontent.com/22445842/98712331-d624db80-238e-11eb-84ad-5

[2020-11-12 09:08] vmanot commented on #158
@jevonmao please just create a Markdown file anywhere and open a PR, I can copy and paste the contents to the wiki. GitHub Wikis don't support collaboration currently (which is crazy in 2020), hence the awkward process.

Apologies for the delayed reply to this issue - am strangled with work at the moment. @smaldd14, you'd use `ImagePicker` within a `View.sheet` or a `View.popover` - just like any

[2020-11-12 09:13] vmanot commented on #165
@RobertKoval I believe you can do this currently:

```foo.padding(isPaddingEnabled ? .keyboard : nil```

Where `isPaddingEnabled` is a `Bool` defined by you. Hope that fixes your issue :)

[2020-11-12 09:26] vmanot commented on #165
@RobertKoval pull in the latest master, then use `.padding(.keyboardForced)`.

[2020-11-12 09:26] #165 closed

[2020-11-14 08:58] RobertKoval commented on #165
Just tested on iOS 14,
problem in: `padding = keyboardHeight > 0 ? keyboardHeight - geometry.safeAreaInsets.bottom : 0`,
`keyboardHeight == 336.0` and  `geometry.safeAreaInsets.bottom == 336.0`, as a result **padding** is _0_ and it does nothing :(

[2020-11-15 08:55] vmanot commented on #165
@RobertKoval good catch, fixed.

[2020-11-17 08:28] Overcot commented on #148
This issue still exist in file DocumentPicker.swift
Commit hash 2b461698d3eaf51cdad1a85f1e920e1a705ce2d3

[2020-11-19 02:48] damonZDM opened #166 "东西很好，但是文档不够健全。"
文档中介绍的东西过于表面，没有更多的示例和用法。使用起来有些困难

[2020-11-19 05:15] jevonmao commented on #166
观察的很好，这个Repo其实还需要很多的完善，但是有潜力。能具体举些不完善的例子吗？什么功能的文档需要完善？
（P.S. 为啥用中文开issue啊？这边外国人应该看不懂吧)

[2020-11-19 10:00] damonZDM opened #167 "How to use the "hidebottombarwhenpushed“ method in swiftuix"
Where should ”hidebottombarwhenpushed“ take effect?

[2020-11-19 14:05] MarkLyck opened #168 "Cannot find CocoaTextField in scope."
Tried installing SwiftUIX to use `CocoaTextField` firstResponder since that's still missing from SwiftUI.

However I can't seem to get the package to work :(

I get the following error when trying to build:

<img width="922" alt="Screen Shot 2020-11-19 at 09 02 08" src="https://user-images.githubusercontent.com/6841110/99675992-e8b1ab80-2a45-11eb-86e7-6b94b6c3cca9.png">

I added the package follow

[2020-11-19 16:50] kolyafabrika opened #169 "CocoaTextField lacks font modifier support"
Hi and thank you for great work.

Currently, CocoaTextField seems to work just fine with font modifiers like .font(.largetitle) but as soon as I ask it to change the weight or design, it seems to ignore it.

**This won't work:**
.font(.system(size: 130, weight: .bold, design: .rounded))

[2020-11-19 20:43] Overcot commented on #168
show your full file please. Did you write import SwiftUIX before declaring view?

[2020-11-19 20:51] Overcot commented on #169
I can't reproduce this. I created Example code to change font size with slider

[code]

[2020-11-20 00:15] jevonmao commented on #168
on top of your file, write `import SwiftUIX`

[2020-11-20 00:23] jevonmao commented on #169
I tested with your exact line `.font(.system(size: 130, weight: .bold, design: .rounded))` and it works.

[2020-11-20 01:51] jevonmao opened #170 "Why is the ImagePicker binding a data object? Why not an Image object?"
I noticed that the ImagePicker actually initializes with a binding of type `Data`, meaning the user will get back a `Data` object and have to parse it into an `Image` with initializer `Image(data: )`. The documentation was rather vague on this example, and I wonder why is it designed to be returning a data object? Isn't an Image better and easier to use?

1. Majority of people would want Image to

[2020-11-20 10:35] damonZDM opened #172 "Can I add "popToRoot()" to navigator？"

[2020-11-20 11:51] kolyafabrika commented on #169
Hi, for me it works until I start typing. Here's my code:

`import SwiftUI
import SwiftUIX

struct ContentView: View {
    @State var text: String = ""
    var body: some View {
        VStack {
            CocoaTextField("CocoaTextField", text: $text)
                .font(.system(size: 36, weight: .heavy, design: .rounded))
            TextField("TextField", text: $text)
                .font(.s

[2020-11-20 23:51] vmanot commented on #166
As I understand it, this issue pertains to the state of documentation. It's actively being worked upon - I'm just extremely caught up with work at the moment.

[2020-11-20 23:51] #166 closed

[2020-11-20 23:53] vmanot commented on #169
This is due to the fact that SwiftUIX relies on a naive `Font` → `UIFont` conversion. To pass a UIKit directly - pass a `UIFont` like so:

```myTextField(UIFont.xxx)```

[2020-11-20 23:53] #169 closed

[2020-11-20 23:54] vmanot commented on #168
As others have noted, please import the SwiftUIX module.

[2020-11-20 23:54] #168 closed

[2020-11-20 23:54] vmanot commented on #167
This currently is defunct, please ignore for now. I'll add a warning label to it as well.

[2020-11-20 23:54] #167 closed

[2020-11-23 21:39] #172 closed

[2020-11-23 21:53] #158 closed

[2020-11-29 16:52] mistralaix opened #174 "PaginationView bug in Modal + NavigationView"
Hi,

I have a weird bug when I try to use a PaginationView.
The view architecture looks like this: Modal > NavigationView > ZStack > ScrollView > VStack > PaginationView
I am hiding the navigationBar, I am using these 2 methods on my ZStack:
[code]
On the first load, the navigationBar is hidden and the paginationView is at the top of the modal.
When I try to scroll or to change the page view, the

[2020-12-01 06:23] vmanot commented on #174
Does replacing `hideNavigationBar()` with `navigationBarHidden(true)` help fix the issue? Also, what version of iOS are you on?

[2020-12-02 03:38] mvarie commented on #160
There's an interesting discussion here:

https://github.com/ReactiveX/RxSwift/issues/649

.. it's about RxSwift, not SwiftUI, but it seems rather relevant - as it applies to languages that have multistage text input (such as Chinese and Japanese), and two-way binding.

Note, especially, their fix:

https://github.com/ReactiveX/RxSwift/issues/649#issuecomment-215983367

[code]

I have no familiarit

[2020-12-02 04:32] vmanot commented on #160
@mvarie I'll take a look, thank you!

[2020-12-04 18:53] mistralaix commented on #174
I tried replacing it with `navigationBarHidden(true)` and the same thing happened.
I'm on iOS 14.2.

I also tried to use this method `navigationBarIsTransparent(true)` and to set my ZStack with `.edgesIgnoringSafeArea(.all)`
The bug doesn't happen anymore but the navigationBar is not transparent anymore but only for the PaginationView. If I remove the PaginationView and I put a single Image with t

[2020-12-05 03:33] vmanot commented on #174
@mistralaix please open up a separate bug for the navigation bar, closing this as according to your comment the pagination view bug is solved (please reopen if I've misinterpreted).

[2020-12-05 03:33] #174 closed

[2020-12-07 09:11] damonZDM opened #175 "add animated parameters to the push, pop and poptoroot methods of navigator？"
英文不是太好，大概意思就是希望能给Navigator的push、pop、popToRoot方法增加animated参数。
We hope to add animated parameters to the push, pop and poptoroot methods of navigator.

[2020-12-07 16:57] #170 closed

[2020-12-07 22:08] phranck opened #176 "Missing SearchBar samples"
It would be great to have some `SearchBar` samples, too.

[2020-12-08 12:22] ChenShengZhe opened #177 "its so great. but why dont have scrollView can refresh&load more"

[2020-12-08 12:24] ChenShengZhe commented on #177
:(

[2020-12-09 04:58] stevema commented on #160
I have the same issue.

[2020-12-17 20:48] vmanot commented on #177
@ChenShengZhe `CocoaScrollView` has `onRefresh` and `isRefreshing` to access the refresh control.

[2020-12-17 20:48] #177 closed

[2020-12-17 21:08] vmanot commented on #175
@damonZDM done. Use `push(foo, withAnimation: nil)` and `pop(withAnimation: nil)`.

[2020-12-17 21:08] #175 closed

[2020-12-19 18:55] smaldd14 opened #178 "SearchBar onEditingChanged only fired on "searchBarTextDidBeginEditing""
Title says it all... If you change the function
public func searchBar(_ searchBar: UIViewType, textDidChange searchText: String) {
            base.text = searchText
        }
in SearchBar's Coordinator  to
public func searchBar(_ searchBar: UIViewType, textDidChange searchText: String) {
            base.text = searchText
            base.onEditingChanged = true
        }

This would fix things I

[2020-12-19 22:28] vmanot commented on #178
@smaldd14 this is intentional. If you wish to monitor changes to the text, use one of the extensions on `Binding` offered by SwiftUIX - `$text.onChange({ myText in ... })` to inject a side effect. `onEditingChanged` refers to the "editing" state of the `SearchBar`, just like it works for `TextField` (see relevant discussion [here](https://developer.apple.com/forums/thread/124618?answerId=389554022

[2020-12-19 22:28] #178 closed

[2020-12-21 23:25] vmanot commented on #176
Done.

[2020-12-21 23:25] #176 closed

[2020-12-21 23:25] vmanot commented on #86
Done.

[2020-12-21 23:25] #86 closed

[2020-12-21 23:25] vmanot commented on #157
`ModelView` is likely being removed (too broadly scoped for this project), so closing this question.

[2020-12-21 23:25] #157 closed

[2020-12-21 23:26] vmanot commented on #152
@alexyak These are being majorly reworked, I'll add documentation when the rework is complete.

[2020-12-21 23:26] vmanot commented on #80
SwiftUIX now has a "Guides" folder, and is also shifting first level/summary documentation to its README.

[2020-12-21 23:26] #80 closed

[2020-12-22 13:31] mnabokow opened #179 "CocoaTextField.isFirstResponder(true) causes the keyboard to show when Alert is shown"

[2020-12-22 23:24] metsfan opened #180 "Feature Request: allow updating scrollViewConfiguration on CollectionView"
Hello it seems CollectionView has a property for scrollViewConfiguration but it is not exposed in any way. Would it be possible to make this property mutable? I supposed the same for CocoaList would be useful as well. Thank you!

[2020-12-23 00:16] vmanot commented on #180
@metsfan parts of `CocoaScrollViewConfiguration` are already exposed via modifiers such as `onOffsetChange(_:)`, `onRefresh(_:)`, `isRefreshing(_:)` etc.

If there's a specific property you wish expose, let me know here and I'll add it as a modifier.

[2020-12-23 00:24] vmanot commented on #179
@mnabokow I updated `CocoaTextField` to prevent becoming the first responder if `.disabled(true)` is attached to it.

Simply use `.disabled(isMyAlertShowing)` to fix the issue.

[2020-12-23 00:24] #179 closed

[2020-12-23 02:29] metsfan commented on #180
Hey I did see those properties, but I'm curious why not expose the entire object? In particular I would like to be able to enable the `pagingEnabled` property for my current use case but I could see the need to modify other properties in the future. It just seems easier from your perspective and mine to expose the ability to provide the entire object.

[2020-12-23 07:26] mnabokow commented on #179
That works perfectly, thanks @vmanot!

[2020-12-23 10:45] hannesharnisch opened #181 "ImagePicker first Image always rotated 180 degrees"
When I run a simple test app with the ImagePicker in a sheet toggled by a simple button, when I select the first Image in the ImagePicker the Image gets rotated 180 degrees when I present it. This doesn't happen with any other images I select.

https://user-images.githubusercontent.com/26021359/102988490-438e6500-4514-11eb-9db0-ee5379257743.mov

[2020-12-23 23:01] vmanot commented on #180
@metsfan I'm not exposing the whole object because `pagingEnabled` etc. are going to be obsoleted in favor of a larger, more comprehensive rewrite for `CollectionView`. And as for `CocoaScrollView`, I'll be adding preference keys to allow marking entire views as "pages" (allowing for extremely easy and granular paging capabilities) - and if those preferences are exposed paging will automatically b

[2020-12-23 23:01] #180 closed

[2020-12-24 10:58] mnabokow opened #182 "CocoaTextField does not support standard TextField's .disableAutoCorrection(true)"

[2020-12-24 21:25] #182 closed

[2020-12-24 21:25] vmanot commented on #182
@mnabokow fixed, good catch.

[2020-12-24 21:25] vmanot commented on #181
@hannesharnisch super weird - is this a UIKit bug as well?

[2020-12-24 22:32] hannesharnisch commented on #181
I don’t think so. I implemented the Imagepicker for SwiftUI without swiftuix as well, at least with editing on and it always worked.

[2020-12-31 17:59] mnabokow opened #183 "Adding font weight modifier breaks CocoaTextField font size"
<img width="293" alt="CleanShot 2020-12-31 at 18 53 28@2x" src="https://user-images.githubusercontent.com/45775419/103420886-cd37d580-4b99-11eb-891e-f00790b98480.png">
<img width="304" alt="CleanShot 2020-12-31 at 18 58 27@2x" src="https://user-images.githubusercontent.com/45775419/103420967-3ae40180-4b9a-11eb-8bc5-bbca52405bdb.png">

This happens with **both** font weight modifier options below.

[2021-01-01 06:13] vmanot commented on #183
@mnabokow unfortunately `CocoaTextField` cannot perform a complete `SwiftUI.Font` → `UIKit.UIFont` conversion yet (due to limitations in the SwiftUI API itself). Try passing a `UIFont` via the `CocoaTextField.font(_:)` modifier.

[2021-01-01 06:13] #183 closed

[2021-01-01 15:43] mnabokow opened #184 "CocoaTextField .foregroundColor doesn't work properly"
Using a `.foregroundColor` modifier on CocoaTextField results in an error:
`"Ambiguous use of 'foregroundColor'"`

Although it is deprecated, `.textColor` has the desired effect.

[2021-01-02 12:17] #184 closed

[2021-01-02 12:17] vmanot commented on #184
Fixed.

[2021-01-05 20:54] bensinc opened #185 "CocoaTextField Crashes on iOS"
It's possible I'm missing something here, but trying to use CocoaTextField on iOS results in:

*** Terminating app due to uncaught exception 'NSUnknownKeyException', reason: '[<SwiftUIX.UIHostingTextField 0x7fa1414309e0> setValue:forUndefinedKey:]: this class is not key value coding-compliant for the key focusRingType.'

I've made it work by removing "uiView._focusRingType = configuration.focusRin

[2021-01-06 00:23] MatthewCawley commented on #102
@vmanot Thank you for this by the way :) Sorry it took so long to reply :D

[2021-01-06 06:22] damonZDM commented on #185
我也遇到了一样的问题，应该是私有API的属性名变了

[2021-01-06 07:41] vmanot commented on #185
@bensinc @damonZDM fixed. Please update to the [0.0.5 release](@bensinc @damonZDM fixed. Please update to the 0.0.5 tag - https://github.com/SwiftUIX/SwiftUIX/releases/tag/0.0.5.).

[2021-01-06 07:41] #185 closed

[2021-01-11 03:53] Phzytaylor commented on #181
I think this has been a common problem when using pngs instead of jpegs. I noticed when uploading png data to firebase it always rotates the image 180 degrees. I bet if you switch to jpeg it won't rotate.

[2021-01-12 09:09] mrsunx opened #187 "How to change automaticallyShowSearchBar value"
Hello, can you tell me how to change automaticallyShowSearchBar value

thank you

[code]

[2021-01-12 12:24] abadikaka commented on #181
ur assumption maybe correct @Phzytaylor, but those images are derived from apple system in simulator, I don't think they have different format for each sample picture provided by them. interesting issue

[2021-01-13 02:35] smaldd14 opened #189 ".navigationBarTitleView(Image("")) will not show on same line as navigationBackButton"
When using NavigationView in screenA and have a NavigationLink to screenB, I am using .navigationBarTitleView(Image"")) in screenB, but the back button appears in a navigationBar by itself, and my .navigationBarTitleView(Image("")) appears underneath that?

[2021-01-13 03:00] #189 closed

[2021-01-13 11:21] vmanot commented on #187
@mrsunx this is currently left unexposed due to a bug in `NavigationView` (`automaticallyShowSearchBar` doesn't work as expected) in iOS 14.

[2021-01-13 11:21] #187 closed

[2021-01-17 19:56] sejr opened #190 "Overriding `hidesSearchBarWhenScrolling`"
Hi there,

I'm hoping to override this property to always display the search bar on a specific navigation view item: https://github.com/SwiftUIX/SwiftUIX/blob/e45ba961455add7793ab6411d0fe8bc66d255f9a/Sources/Intramodular/Search/SearchBar%2BNavigationView.swift#L19

I'm not entirely sure of the correct way to do this. I'd think that any view that is able to define its own search bar would be able t

[2021-01-18 15:17] #190 closed

[2021-01-18 15:17] vmanot commented on #190
Take a look at `View/navigationSearchBarHiddenWhenScrolling(_:)` (also documented in the README).

[2021-01-18 15:22] sejr commented on #190
@vmanot works like a charm. You rock.

[2021-01-18 16:02] #181 closed

[2021-01-18 16:08] #160 closed

[2021-01-18 16:08] vmanot commented on #160
@gliese667c @mvarie @stevema this has now been fixed! Thank you for your patience.

[2021-01-19 08:34] lk251 opened #193 "Navigation bar transparency and color are altered upon installation"
Hi,

Just wanted to add a navigation bar view at the center (not trailing or leading) to add a logo, but using NavigationBarTitleView and SwiftUIX altered the bar transparency and color.

Could SwiftUIX not change bar transparency and color by default? Thank you
LK

[2021-01-19 13:15] vmanot commented on #193
@lk251 that's really weird - it's not supposed to be doing that (the navigation bar configurator doesn't touch color/transparency. Are you using a custom navigation bar/controller? And are you using `View/navigationBarTitleView(_:)`?

[2021-01-19 20:38] lk251 commented on #193
@vmanot thanks for your prompt reply! I was not using a custom navigation bar, just normal Navigation View. Yes I was using View/NavigationBarTitleView.

[2021-01-20 11:20] vmanot commented on #193
@lk251 would it be possible for you replicate this in a sample project / code snippet? And please specify iOS & Xcode version, plus the device/simulator you're running it on.

[2021-01-26 13:04] vmanot commented on #193
Closing this due to inactivity, feel free to open with a repro :)

[2021-01-26 13:04] #193 closed

[2021-02-06 21:24] Michaelsafir opened #201 ".navigationSearchBar error - content displays above search"
[code]

![Simulator Screen Shot - iPhone 12 - 2021-02-07 at 00 21 36](https://user-images.githubusercontent.com/33763394/107129982-88ab0280-68da-11eb-9403-6a1a9c54bd1f.png)

[2021-02-09 16:48] noefroidevaux opened #202 "isInitialFirstResponder on TextView"
First, thank you for you great library! It's great to have a way to have a `TextEditor` for iOS 13 with the `TextView`. But I'm wondering how I can display the keyboard automatically when I display this view. I saw that `CocoaView` has an attribute `isInitialFirstResponder`. Is it something which can be possible with `TextView`?

[2021-02-10 08:14] noefroidevaux commented on #202
I have be able to do that with https://github.com/siteline/SwiftUI-Introspect (which is a great library too :) ). But I think it's good if we dont need to depend on another library to do that?

[2021-02-11 08:48] vmanot commented on #201
Unfortunately I have not found a fix to this bug yet - it seems to an Apple bug tied to the way `UINavigationController` interacts with child scroll views :/

[2021-02-12 22:00] Michaelsafir commented on #201
## This works fine

[code]

## How to apply:

[code]

[2021-02-12 22:01] Michaelsafir commented on #201
And also fact - your code works fine on IOS 14.1, but this strange behavior comes on upper versions on IOS. My code works fine on IOS 14.4) Maybe i helped somebody...

[2021-02-12 22:13] vmanot commented on #201
@Michaelsafir I'll take a look and maybe implement a runtime versioned fix, thanks! :)

[2021-02-15 15:13] transat opened #204 "PaginationView overlapping pages issues"
I've got a detail view consisting of a Pagination view with 3 pages. When my app's  navigationView's sidebar is expanded (on iPad in landscape mode) the detail view adapts itself (mostly elements shift t the right beyond the visible area. All of this is as expected! BUT if I paginate when in this sidebar-expanded state, the first page is shown overlapping the second (which itself overlaps the 3rd

[2021-02-16 13:53] vmanot commented on #204
@transat would it be possible for you to reproduce this in a sample project and attach it here? Hard for me to tell based on your description currently.

[2021-02-16 19:00] Nickersoft opened #205 "DynamicViewPresenter UIKit extensions break VIPER-based apps"
Great package @vmanot! I was eager to try it, but as my app is currently a VIPER-based UIKit that I'm slowly moving towards SwiftUI, there are still a number of VIPER modules in the codebase. In the VIPER architecture, most UIViewControllers already have a `presenter` class member, so I've been getting errors like this all across my codebase:

[code]

and

[code]

I realized it's due to this Swift

[2021-02-16 20:06] v1z4 opened #206 "Need more documentation for Dynamic Presentation"
I am trying to follow this guide: https://github.com/SwiftUIX/SwiftUIX/wiki/Dynamic-Presentation

Where should I put CocoaHostingController? Is there any working example?

Thanks!

[2021-02-16 21:22] vmanot commented on #206
@v1z4 hi, just wrap any view that uses the `presenter` environment variable in a `PresentationView` (no need for `CocoaHostingController` anymore). Will update the docs this weekend, thanks for raising the issue! :)

[2021-02-16 21:30] vmanot commented on #205
@Nickersoft thank you for raising this issue! I'm planning on removing the public conformances completely and using some type erased wrapper for all my UIKit → SwiftUIX presenter needs. SwiftUIX ideally should not be publicly extending any UIKit symbols.

[2021-02-17 14:07] demon9733 opened #207 "ActivityIndicator lacks a tint color modifier."
`ActivityIndicator` always uses the environment to resolve the tint color:
- White tint in dark mode.
- Gray tint in light mode.

Instead we want to be able to modify the tint color at any time with something like:
[code]

Or maybe to use a style (closer to the native approach):
[code]

[2021-02-17 14:11] demon9733 opened #208 "onUIViewControllerResolution triggers only on push, not on pop."
I'm using the `onUIViewControllerResolution` closure to explicitly hide the navigation bar inside the navigation stack:
[code]

And it performs perfectly up until the point I need to pop the view back. In this case the closure is not being triggered anymore, and navigation bar is again on-screen.

I understand that this particular closure **must** be performed just once, but maybe we can add somet

[2021-02-18 05:54] andrei1152 opened #209 "Has .navigationBarTitleView() been removed?"
I'm trying to use the library for just that particular task but it doesn't seem to exist any longer.
I've looked through the previous commits but haven't come across any references to it.
I know that ios 14 introduced the toolbar() function to fix the lack of custom title views, but my aim is to support ios 13 as well.

[2021-02-18 10:32] #209 closed

[2021-02-19 08:41] #207 closed

[2021-02-23 14:53] transat commented on #204
I haven't been able to reproduce this with a simple example, alas. It must be some edge-case to do with my specific implementation. I'll let you know if I figure out what's going on.

[2021-02-23 18:40] vmanot commented on #204
@transat closing this issue for now, but please do reopen it if you can repro in an isolated case!

[2021-02-23 18:40] #204 closed

[2021-02-24 11:07] vmanot commented on #152
The `CollectionView` refactor is nearly complete, the internal implementation has now completely been swapped out to use diffable data sources. Examples and docs will come up very soon (in the next week or so).

[2021-02-26 08:33] KlemenAndrasic opened #211 "CocoaTextField onCommit() should be called in textFieldShouldReturn."
I think onCommit() should be called inside of the textFieldShouldReturn function instead of the textFieldDidEndEditing. Because resigning responder from the textField in any way triggers onCommit().

Example.:
Resigning firstResponder by user clicking in the empty space closes the popup with textField, but triggers onCommit as if user confirmed the text in the the textField.

[2021-02-26 12:45] vmanot commented on #211
@KlemenAndrasic is this the behavior of the default SwiftUI `TextField`? I recall there being a similar issue a while ago. While I have no problem exposing a modifier such as `CocoaTextField/onReturn(perform:)`, I want to keep the behavior as close to Apple's API as possible.

[2021-03-01 11:40] KlemenAndrasic commented on #211
@vmanot Per my testing  `onCommit` doesn't trigger when the keyboard is dismissed and therefore responder resigned on the textfield on the SwiftUI `TextField`.

[2021-03-01 21:26] vmanot commented on #211
@KlemenAndrasic then I'm voting to close this issue - because as I understand `CocoaTextField` matches the current `TextField` behavior. Please feel free to reopen if needed.

[2021-03-01 21:26] #211 closed

[2021-03-09 21:39] netayamin opened #212 "Issue with CollectionView and NavigationLink"
Using collectionView which is displaying an image and NavigationLink to move between views doesn't work - it shows black screen and won't load the image unless I remove the navgiationLink.

[2021-03-11 03:37] Innei opened #213 "There has a way to add package by pod?"
I try to add this package by SPM, but cost much time on this process, and hang.

[code]

![image](https://user-images.githubusercontent.com/41265413/110732056-60f2e580-825e-11eb-9e8f-7ce6b4d0db96.png)

This looks like a bug in Xcode. I try to reset SPM cache, but not working. I try to set a proxy, but it seem to not working, Xcode did't though the proxy.

So, there has a way to add package by pod?

[2021-03-11 09:04] X901 opened #214 "How to connect multiple CocoaTextField to create OTP code"
Hi ,
I'm trying to connect multiple Textfield to create OTP code
now it work when I taping the numbers but it won't close the keyboard when I write the last number
also when I delete the number I cannot find the way to return to previews textfield

my correct code is

[code]

[2021-03-11 09:51] Innei opened #215 "Can't render multiline text in CocoaList"
Hi, guys. I want to render a very very long text in CocoaList. But it only render one line and text is clipped with `...`. I find a solution, that add ` .fixedSize(horizontal: false, vertical: true)` on `Text`, it's working on SwiftUI native `List`. But not work on `CocoaList`.

Just like this.

On top of view is `CocoaList`, bottom of view is `List`.

![image](https://user-images.githubuserconten

[2021-03-11 19:27] vmanot commented on #212
Very interesting - would it be possible for you to create a sample project reproducing this bug?

[2021-03-11 19:29] vmanot commented on #213
@Innei SwiftUIX currently does not support installation via CocoaPods. As a workaround, I suggest adding SwiftUIX as a git submodule and dragging and dropping it into your Xcode project. I'm closing this issue because CocoaPods is out of scope for the project, but feel free to reopen with any questions related to the suggested workaround!

[2021-03-11 19:29] #213 closed

[2021-03-11 19:31] vmanot commented on #215
I'll check out this bug! SwiftUI unfortunately exposes very little in terms of layout priorities or sizing preferences when writing [UI/NS]ViewRepresentable(s), so fixing this may be impossible to do in a generic fashion. But I will try nonetheless! :)

[2021-03-11 19:33] vmanot commented on #214
`CocoaTextField` is not really built to handle such a complex case, but "it won't close the keyboard when I write the last number" definitely seems like a bug, will take a look into it!

[2021-03-21 13:02] X901 opened #220 "Cannot change searchBar font size"
Hi ,
I cannot change searchBar font size and also if I put placeholder , the placeholder text won't change !

[2021-03-22 01:58] lawmicha opened #221 "Issue following ImagePicker guide"
Just want to start off by saying thanks for the work you've put into this library. I couldn't really get the ImagePicker working using the code snippet provided here: https://github.com/SwiftUIX/SwiftUIX/blob/master/Guides/Image%20Picker.md
[code]

It crashes on `Image(data: image!)!` with
[code]
Is it just me or is this code snippet broken for others?

I ended up following https://www.hackingwith

[2021-03-22 08:33] vmanot commented on #221
@lawmicha thanks for raising this issue. I've fixed the guide as well exposed an `onCancel` parameter which allows you to override the "Cancel" button's behavior (which defaults to dismissing the presentation right now).

[2021-03-22 08:34] #221 closed

[2021-03-22 08:45] vmanot commented on #220
This should be fixed now, `SearchBar` has a `SearchBar.font(_:UIFont)` modifier.

[2021-03-22 08:45] #220 closed

[2021-03-22 09:11] X901 commented on #220
I cannot access it ! , also placeHolder won't change !

<img width="817" alt="Screen Shot 2021-03-22 at 12 08 17 PM" src="https://user-images.githubusercontent.com/16876982/111966140-a12c5080-8b07-11eb-8a99-902a55fcb25a.png">

[2021-03-22 11:14] vmanot commented on #220
@X901 you need to update SwiftUIX to the latest version. It seems like this is using the default SwiftUI modifier. Try explicitly specifying `UIFont.xxx`? Also, can you create a sample repro for not being able to change the placeholder? The code updates it every time the view is updated.

[2021-03-22 11:33] X901 commented on #220
I did tap on update to latest packages on  SPM menu , but nothing change

what it appear to me is Font SwiftUI modifier only

I see that you new commit in Master branch
but SPM didn't see it

[2021-03-24 17:01] wgx954418992 opened #223 "NavigationLink doesn't work in CocoasSrollview"
code

[code]

[2021-03-24 17:06] wgx954418992 commented on #223
I rewrote it according to the CocoaScrollView code, and introduced [MJRefresh]. I found that I still couldn't click it. I initially suspected that it was caused by the nesting of UIView, and I urgently wanted a solution

[2021-03-24 17:08] wgx954418992 commented on #223
I rewrote it according to the CocoaScrollView code, and introduced [MJRefresh]. I found that I still couldn't click it. I initially suspected that it was caused by the nesting of UIView, and I urgently wanted a solution

[2021-03-24 18:59] #223 closed

[2021-03-29 08:58] Overcot opened #225 "Crash on scroll in UIHostingTableViewController"
I just encountered a crash inside when beginning to scroll
[code]

there initialContentAlignment is nil, and crash on unwrapping
Usage is
[code]

[2021-03-29 14:53] vmanot commented on #225
Looking into it, thanks for raising a bug!

[2021-03-29 15:02] #225 closed

[2021-04-01 09:23] X901 commented on #201
This issue happened when you have NavigationView on Parent view
but you don't have NavigationView on Child view !

That mean it will work fine only if you have NavigationView on current view

The issue is you cannot have NavigationView on both view Parent and also Child because you will get duplicate NavigationView

[2021-04-01 09:33] X901 opened #226 ".OnCancel will dismiss view !"
Hi,
I notice when I tap on cancel button in searchbar it will close the whole view
this only happened with child view
I have **view1** (have searchbar on it) >> **view2** >> **view** 3 (I have searchbar on it)
when I tab cancel button in **veiw3** it will return to  **view1**

but with parent view(**view1**) it won't do anything so this issue happened only with child view

[2021-04-01 12:35] vmanot commented on #226
@X901 would it be possible for you to attach a sample repo? `searchBar.endEditing(true)` is the only other call I make in `SearchBar`'s cancel handler, it shouldn't be causing any views to dismiss.

[2021-04-01 12:39] #202 closed

[2021-04-01 12:40] vmanot commented on #205
Closing this for now because unfortunately I'm completely out of bandwidth. An exhaustive change is planned, but I cannot commit to any timeline right now due to a lack of time.

[2021-04-01 12:40] #205 closed

[2021-04-01 12:41] noefroidevaux commented on #202
Thank you 👍

[2021-04-01 12:43] vmanot commented on #152
`CollectionView` is still under major rework, and `CocoaList` will likely be deprecated. I have docs in mind, am waiting for the APIs and performance to stabilize. Closing this for now.

[2021-04-01 12:43] #152 closed

[2021-04-01 12:47] vmanot commented on #214
Replacing the last `CocoaTextField`'s `'isFirstResponder(_:)` with
[code]

_does_ cause it to resign first responder when the last character is entered, but then the responder chain just moves back to the _last_ responder (text field 3). This will require some sort of "ResponderReader" or "ResponderChain" parent container view to coordinate, it's not trivial to solve with View modifiers. Closing t

[2021-04-01 12:47] #214 closed

[2021-04-01 12:48] vmanot commented on #212
Closing the issue due to inactivity, feel free to reopen with a repro case! :)

Also, multiple updates have been made to `CollectionView` since this bug was reported, would love to know whether the issue still even persists.

[2021-04-01 12:48] #212 closed

[2021-04-01 12:50] vmanot commented on #215
Closing this issue for now as I'm not able to reproduce it, could be a SwiftUI hosting controller bug. Could you upload a full sample project if it still persists? Feel free to reopen with the sample project.

[2021-04-07 10:16] zntfdr opened #227 "PersistentObject vs StateObject discrepancy"
Hi!
I'm experimenting with `@PersistentObject` as a substitute of `@StateObject` (for iOS 13 compatibility), however I've found this discrepancy:
when navigating back from a view using `@PersistentObject`, I would expect for the `@PersistentObject` value to be destroyed, however this is not the case. Going back into that view will show the previous value (no reset).

This differs from SwiftUI's `@

[2021-04-07 20:11] Harty13 opened #228 "Can't change placeholder in navigationSearchBar [Fixed]"
.navigationSearchBar {
     SearchBar("ChangedPlaceholder", text: $searchText) // <- Doesn't work
}

[2021-04-07 20:14] Harty13 opened #229 "No "cancel" button in navigationSearchBar"
.navigationSearchBar {
     SearchBar("Search", text: $searchText)
}

[2021-04-08 11:25] #229 closed

[2021-04-08 11:25] vmanot commented on #228
This has been fixed.

[2021-04-08 11:25] #228 closed

[2021-04-08 11:26] vmanot commented on #229
This has been fixed.

[2021-04-08 14:27] matthewrobb opened #230 "AppActivityView onComplete modifier seems incorrect"
https://github.com/SwiftUIX/SwiftUIX/blob/0d232a92649d5946838dad0d57d77c10e30c66a2/Sources/Intramodular/Activity/AppActivityView.swift#L64

It appears to be assigning the calling function to onComplete where it should be assigning the action argument?

[2021-04-10 19:56] vmanot commented on #230
@matthewrobb great catch!

[2021-04-10 19:56] #230 closed

[2021-04-10 19:57] vmanot commented on #226
Closing this for now as I am unable to reproduce it, please feel free to reopen with a sample repro :)

[2021-04-10 19:57] #226 closed

[2021-04-10 19:57] vmanot commented on #201
Closing this as this seems to be fixed now. Please reopen if it pops up again!

[2021-04-10 19:57] #201 closed

[2021-04-13 20:49] miguellan opened #233 "CocoaTextField cannot set tag to enable "tabbing" between fields."
In CocoaTextField.swift:

[code]
I see the above code, which indicates that you should be able to do something like:

[code]

And then when hitting the return button on the first field, the focus should automatically shift to the second field.  However, when I place a break-point at `if textField.tag != 0 {`, and then do a po textField.tag, it is always equal to 0.   So how are you supposed to set

[2021-04-14 14:49] ILYA2606 opened #234 "CollectionView inside NavigationView"
**When `CollectionView` inside `NavigationView`, it is impossible to remove the UINavigationBar.**

`.navigationBarHidden(true)` not working

Sample code:
[code]

Preview:
<img width="395" alt="image" src="https://user-images.githubusercontent.com/283493/114730499-98671d00-9d49-11eb-9d23-683577630c8b.png">

View Hierarchy:
<img width="385" alt="image" src="https://user-images.githubusercontent.com

[2021-04-14 14:50] bystritskiy commented on #234
+1

[2021-04-14 14:52] joliejuly commented on #234
+1

[2021-04-14 14:52] death654321 commented on #234
+1

[2021-04-15 10:03] vmanot commented on #234
@ILYA2606 @bystritskiy this is so bizarre... I'm not touching the nav controller nor the nav bar in any of my `UICollectionView` code :(

[2021-04-15 10:43] vmanot commented on #234
Fixed, but use `View/hideNavigationBar()` instead of `navigationBarHidden(_:)`.

[2021-04-15 10:43] #234 closed

[2021-04-15 16:03] miguellan commented on #233
FYI, for now I have pulled in commit b495f16828a720aea44d1577cb4261781f8cf1a7, so that I can use the functionality that was added and then subsequently removed.

[code]

[2021-04-18 17:48] Butanediol opened #237 "Hide navigationSearchBar in subview."
Hi!
I'm building a simple list view with searching capability.

[code]

This looks pretty decent.

![Simulator Screen Shot - iPhone 12 - 2021-04-19 at 01 41 29](https://user-images.githubusercontent.com/22426749/115155002-5ffc7180-a0b0-11eb-84e4-9353db8cf88e.png)

However, the search bar still shows in the sub view following the Navigation Link. Even if I set the `navigationBarTitleDisplayMode` to

[2021-04-21 02:21] longbct opened #238 "Document CocoaList & CollectionView"
I am trying to use the CocoaList, but I could not find any working examples how to use it. Its would be great if we can provide some examples.

[2021-04-22 13:20] #237 closed

[2021-04-22 15:29] vmanot commented on #227
@zntfdr I think I'm going to keep this as expected behavior, I thought about this a bit and I realized that I'd actually want this behavior for optimization reasons. Closing this ticket for now, please feel free to reopen if you have any comments/discussion points :)

[2021-04-22 15:29] #227 closed

[2021-04-29 18:21] fxsalazar opened #241 "PaginationView height"
Is it possible to make the height equal to its dynamic content?

[2021-05-01 07:44] HammCn opened #242 "How to set a customize refresh control height of CocoaList"
How to set a customize refresh control height of CocoaList

[2021-05-03 12:22] vmanot commented on #242
This is currently out of scope for the project. I've also found `UIRefreshControl` to be very buggy on recent releases, so hacking on top of that is likely going to result in a lot of glitches :(

[2021-05-03 12:22] #242 closed

[2021-05-03 14:24] #241 closed

[2021-05-04 11:57] Innei commented on #215
Sorry. I didn't check the reply. This is the demo code.

![image](https://user-images.githubusercontent.com/41265413/116999904-e18c0a80-ad12-11eb-8404-32c5ab41be7f.png)

[code]

[2021-05-04 11:59] Innei commented on #215
And, my xCode version is 12.5, complied target is iOS14.0, complied on macOS 11.3.1.

[2021-05-04 12:01] Innei commented on #215
@vmanot I try to change target to iOS 14.5, same as before

[2021-05-05 08:50] X901 opened #243 "Can I turn smartDashesType and smartQuotesType off using CocoaTextField ?"
Hi ,
I need to turn them off but I don't find any method for that
Could you please add it ?

[2021-05-07 15:27] #243 closed

[2021-05-07 15:28] vmanot commented on #238
@longbct I'm working on refactoring it (along with finalizing the API set for `CollectionView`). A bunch of other folks have asked for this as well - I'm really sorry for the delay. Am currently stretched between my clientele work and OSS work - so am pushing code as much as I can but I do want to find time to document it properly along with a few blog posts sometime this month.

[2021-05-08 19:48] SapaTech opened #245 "Could not find module 'SwiftUIX' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator"
Hi, automatic app preview not working with SwiftUIX, can someone help me please)

[2021-05-10 22:08] vmanot commented on #245
@SapaTech hey - this is an Xcode bug. Cleaning derived data should fix it, but if not then it's something you should report to Apple.

[2021-05-10 22:16] skywalkerlw opened #246 "How to automatically cycle PaginationView?"
Is there a way to do that? Thank you

[2021-05-11 03:36] jevonmao opened #247 "CocoaScrollView pull to refresh dosen't work well with NavigationView's large title"
When using CocoaScrollView's pull to refresh, the SwiftUI built in NavigationView's large title clips the CocoaScrollView and looks really bad. Is there a solution to this? Does SwiftUIX have a custom NavigationView?

[2021-05-11 12:25] vmanot commented on #246
@skywalkerlw @TimerState with currentPageIndex(…) and a modulo on the timer tick.

[2021-05-11 12:25] #246 closed

[2021-05-11 22:38] #245 closed

[2021-05-12 06:00] skywalkerlw commented on #174
I have a similar issue showing navigation bar unexpectedly when swiping PageView, see video below

https://user-images.githubusercontent.com/2090084/117925864-30512a00-b33b-11eb-9515-e22c43a1fdce.mp4

[2021-05-14 14:40] Overcot opened #248 "Crash on latest commit in CocoaTextField"
Hi, im experiencing a crash on latest commit 93a1a9ab03abe7f9d1cf3874f70f5c0f98725506
on previous commits crash doesn't exist
when using CocoaTextField like this
[code]
Crash persists on simulator and devices as well
[code]

[2021-05-14 16:35] rahat14 opened #249 "need more document and examples #238"
trying to implement UICollectionView seems like there is a lack of documentation or Example.
If you guys provide me an example i can write the DOC for it .

[2021-05-14 17:36] rahat14 opened #250 "Linking Error"
Linking Error while adding via SPM.

[2021-05-14 19:01] jevonmao opened #251 "How to remove the search bar frame background?"
![image](https://user-images.githubusercontent.com/64660730/118316614-e6d41c80-b4ab-11eb-8e20-fcbf81869d42.png)
See the image, I don't want the rectangle-shaped frame background. Is it possible to remove that, and only keep the rounded corner search bar portion floating on screen?

I have tried:
[code]
Or
[code]
Or
[code]
Thank you very much.

[2021-05-16 06:05] BenjiMandel opened #252 "How to not dismiss the keyboard"
Is it possible with SwiftUIX to prevent the keyboard from dismissing automatically?

I am building a quiz app, and I don't want the keyboard to dismiss between questions.

Thx!

[2021-05-16 11:21] github-gxxx opened #253 "SearchBar: click the 'cancel' button and view will close"
sample repo:
https://github.com/github-gxxx/swiftUIX_SearchBarTest

[2021-05-16 15:55] vmanot commented on #252
@BenjiMandel where is it dismissing automatically? Which view are you referring to?

[2021-05-16 16:01] vmanot commented on #251
[code]

[2021-05-16 16:02] #251 closed

[2021-05-16 16:06] vmanot commented on #247
@jevonmao unfortunately I'm not sure what the best generic implementation for this is. Are there any good UIKit implementations you could point me towards? I could look into porting the best recommended UIKIt practices to my refresh control.

[2021-05-16 16:08] BenjiMandel commented on #252
@vmanot i am not referring to a view specifically, I want to know of SwiftUIX adds the ability (with one of it's views/extensions) to prevent the keyboard to dismiss when a text field is active.

It us maybe worded better as to have a text field(when it's shown) to always be the first responder, so that the keyboard will always be shown

[2021-05-16 16:11] vmanot commented on #253
@github-gxxx thank you for taking out the time and effort to demo it! I've fixed it now.

[2021-05-16 16:12] #253 closed

[2021-05-16 16:17] #248 closed

[2021-05-16 16:17] vmanot commented on #248
Thank you for reporting the bug! Fixed! :)

[2021-05-16 16:18] vmanot commented on #250
@rahat14 could you please share a screenshot of the error? A sample project would also be great. Closing for now, but feel free to reopen with more info.

[2021-05-16 16:18] #250 closed

[2021-05-16 16:18] vmanot commented on #249
@rahat14 the reason it's currently undocumented is because the API is still in flux and liable to change - I'm trying to finish it as soon as possible but don't want to release a rushed set of APIs. Closing this as a dupe of #238 for now.

[2021-05-16 16:18] #249 closed

[2021-05-16 16:22] vmanot commented on #252
@benjaminfox ah unfortunately it's not possible to force the keyboard to show by itself. You could fake it with a hidden text field `CocoaTextField("", text: .constant("").isFirstResponder(true).hidden()` - but then the responder chain would be focused on that text field and not the one you want. You should look into [SwiftUI-Introspect](https://github.com/siteline/SwiftUI-Introspect) to accomplis

[2021-05-16 16:22] #252 closed

[2021-05-16 16:25] BenjiMandel commented on #252
Ok, thank you very much @vmanot

[2021-05-16 16:38] vmanot commented on #233
@miguellan this is being generalized into a more general responder chain construct.

[2021-05-16 20:20] jevonmao commented on #247
@vmanot I really don't know friend. This whole entire library is like a black box to me and I don't have a lot of experience with UIKit so I am afraid I can only report on the behaviors of this bug. Do you know the reason this is happening?

[2021-05-20 01:34] lilingxi01 opened #254 "CocoaScrollView not showing contents on iOS 14, XCode 12.5"
Here is a minimal demo for reproducing the problem:

[code]

iOS 14, iPhone 12 Pro Simulator, XCode 12.5, new SwiftUI App Lifecycle

The content of CocoaScrollView does not appear when the view is loaded.
But it does appear after switching to another app and switching back again.

Any idea on why and how to fix it?

[2021-05-20 16:25] BenjiMandel opened #255 "Cocoatextfield crashing with a title"
The `CocoaTextField` crashes my app when I add a placeholder like so:

`CocoaTextField("Placeholder", text: $viewModel.textFieldText)`

crash log:
` Learn Chemistry[6332:238239] -[NSNull pointSize]: unrecognized selector sent to instance 0x1c2913560`

But when I have an empty string for the placeholder like so:
`CocoaTextField("", text: $viewModel.textFieldText)`

the view gets shown like normal

[2021-05-24 02:32] schwjustin opened #256 ".onOffsetChange not working for CollectionView"

[2021-05-24 03:03] schwjustin commented on #256
Correction, .onOffsetChange works with the most updated code, not release 0.0.6.

[2021-05-24 04:22] vmanot commented on #256
As noted, the fix is in master.

[2021-05-24 04:22] #256 closed

[2021-05-24 04:22] schwjustin opened #257 "Cannot hide CollectionView scroll indicators or enable tap to go to top"

[2021-05-24 04:32] schwjustin opened #258 "Infinite scroll CollectionView with .onOffsetChange - scroll inertia lost when loading more data"

[2021-05-24 04:39] schwjustin opened #259 "CollectionView .onOffsetChange called again after data is fetched for infinite scrolling"
Initially, I used this condition for fetching more data:

`
.onOffsetChange { offsetChange in
    if offsetChange.value(from: .bottomTrailing).y >= 0 && !model.isLoading {
        model.fetch()
}
`

but model.fetch() was being called once when the bottom of CollectionView was reached and again immediately after the data was loaded. So, I had to create a @State variable called toggle:

`
.onOffsetC

[2021-05-24 04:44] schwjustin opened #260 "CollectionView can't add a footer to display an ActivityIndicator for infinite scrolling"

[2021-05-26 15:47] jfsagasti opened #261 "Conformance of 'SearchBar' to 'View' is unavailable in application extensions for iOS"
Hi! :) we have an extension that uses the SearchBar. It was working without any problems before Xcode 12.5. The compilation error that throws now is:

Conformance of 'SearchBar' to 'View' is unavailable in application extensions for iOS.

What do you think it could be the best workaround for this? Thank you!

[2021-05-26 16:07] vmanot commented on #261
@jfsagasti hi, thanks for reporting, could you fork it and see if removing some of the extension unavailability attributes on `SearchBar` fix the issue for you?

[2021-05-26 17:05] jfsagasti commented on #261
@vmanot thanks for the quick answer! I've tried with a fork and removed the unavailable macros on the SearchBar file, but then other issues arises:

![Captura de pantalla 2021-05-26 a las 18 02 23](https://user-images.githubusercontent.com/1671524/119701828-b2b60f80-be4c-11eb-8567-6a3c90c9ba48.png)

Are you planning to support this lib in the app extensions? I wonder how this worked before if thos

[2021-05-26 20:39] vmanot commented on #257
@schwjustin use `View/scrollIndicatorStyle(_:)` with `HiddenScrollIndicatorStyle`.

[2021-05-26 20:39] #257 closed

[2021-05-26 20:39] #233 closed

[2021-05-26 20:40] vmanot commented on #259
This is expected behavior, closing as it isn't a bug.

[2021-05-26 20:40] #259 closed

[2021-05-26 20:45] vmanot commented on #258
This is expected behavior in UICollectionView.

[2021-05-26 20:45] #258 closed

[2021-05-27 20:34] Brett-Best commented on #261
@jfsagasti I can take a look if you make a sample project

[2021-05-27 22:07] schwjustin commented on #258
If it is expected behavior, how do apps like Instagram and Twitter maintain inertia while scrolling?

[2021-05-28 04:00] zane-carter commented on #253
I'm still experiencing this issue on iOS 14.5.1 (Real Device) compiled with Xcode 12.5

[2021-05-28 04:02] zane-carter commented on #253
Package Version 0.0.6

[2021-05-28 04:20] tylerlantern opened #262 "How to limit number of character in CocoaTextField ?"

[2021-05-28 11:03] vmanot commented on #253
@zane-carter this is fixed on `master`, I'll be cutting out a new release soon.

[2021-05-28 11:04] vmanot commented on #258
@schwjustin they handle it using custom `UICollectionView` subclasses and/or custom `UICollectionViewLayout` subclasses. Some of them might not even be using collection views, I think Twitter is still maybe on UITableView (not sure, but just a hunch given that they have to maintain backwards compatibility).

[2021-05-28 11:06] vmanot commented on #262
@tylerlantern you can return `true`/`false` by using `CocoaTextField/onCharactersChange` (which effectively implements [this delegate method](https://developer.apple.com/documentation/uikit/uitextfielddelegate/1619599-textfield) and gives you full control over whether replacements should go through or not.

[2021-05-28 11:06] #262 closed

[2021-05-30 02:12] zane-carter commented on #253
Thanks @vmanot.

[2021-05-30 18:41] geraldvoit opened #263 "PaginationView - mutating the model results in "Index out of range" crash"
Hey,

I think there is a bug concerning PaginationView's currentIndex after mutating the model.

**Description**

- It seems like the currentIndex won't be reset or adjusted (e.g. 0) after the model is replaced by an array of smaller page count and / or the model has completely different array items (--> **Identifiable**).
  - Adjusting the currentIndex via the currentPageIndex binding along with

[2021-05-31 17:58] MarcoCount commented on #215
@Innei The fixedSize approach is wrong in my opinion.

@vmanot try this code, it's shorter and better to understand the issue:

[code]

If I had to guess the problem stems from there: https://github.com/SwiftUIX/SwiftUIX/blob/1ebbad6c9e6aa326234f4544135db9c0372c53e0/Sources/Intermodular/Helpers/UIKit/UIHostingTableViewController.swift#L183

I have no idea how to fix this.

<img width="529" alt="Sc

[2021-05-31 18:06] vmanot commented on #263
@geraldvoit thank you for such a well-written and detailed bug report, this has now been fixed on `master`!

[2021-05-31 18:06] #263 closed

[2021-05-31 18:09] MarcoCount commented on #215
@Innei a possible workaround would be to get the available space with a geometry reader and tell the Text his maximum frame size:

[code]

I hope that @vmanot can find a proper fix, but in the meantime this issue should be re-opened

[2021-05-31 18:12] vmanot commented on #215
@MarcoCount thanks, I'll take a look into this.

Multiple layout passes are hard to balance with the performance tradeoffs, and unfortunately SwiftUI doesn't give me access to a whole host of methods that are used internally for calculating sizes in a more performant manner. Ideally, I wouldn't even be using `UIHostingController` (there's no `UIHostingView` for SwiftUI :/). So while I will try and

[2021-05-31 18:32] MarcoCount commented on #215
Yes, I perfectly understand.
My comment about the GeometryReader is a good workaround while you find time for the fix.
I honestly can't help more than that there.

[2021-06-01 23:39] vmanot commented on #255
@BenjiMandel this should be fixed on `master`, could you confirm?

[2021-06-01 23:40] vmanot commented on #254
@lilingxi01 add `.fixeSize()` to your content (especially text).

[2021-06-04 05:09] wdhwg001 commented on #206
Hi @vmanot , perhaps this hasn't been updated yet? And we might also need to document `StackNavigationView`.

[2021-06-08 08:31] vmanot commented on #255
Closing this as this should be fixed, please reopen if it's still reproducible on `master`.

[2021-06-08 08:31] #255 closed

[2021-06-08 15:58] BenjiMandel commented on #255
@vmanot I can confirm this is fixed on master. sorry for not replying.

[2021-06-11 11:48] writing-shed opened #266 "Xcode 13.0 beta"
SwiftUIX fails to compile with a number of errors

[2021-06-11 13:43] vmanot commented on #266
@writing-shed this should now be fixed on `master`. I'll be cutting out a versioned release soon as well.

[2021-06-11 13:43] #266 closed

[2021-06-11 22:30] jevonmao opened #267 "Regression after Xcode 13 beta SwiftUIX fails to compile"
My app fails to compile due to SwiftUIX internal errors after Xcode 13 Beta. It compiles fine on latest Xcode 12. I created a new empty Xcode 13 beta project and was able to reproduce the exact same error.

However, the error only occurs when building for iOS, not macOS. I understand it's a crazy time with the dub dub 2021 and we are only on the 1st beta, so it might take time for you to fix this

[2021-06-11 22:31] vmanot commented on #267
@jevonmao this is fixed on `master`, I'll be cutting out a new release tomorrow as well. It would seem that you're currently on version `0.0.6` as opposed to `master`.

[2021-06-11 22:31] #267 closed

[2021-06-11 22:32] jevonmao commented on #267
@vmanot Thank you!

[2021-06-11 22:36] vmanot commented on #267
@jevonmao you should update to `0.0.7` - just released a new version :)

[2021-06-11 22:37] vmanot commented on #254
Closing this for now, please feel free to reopen if `.fixedSize()` hasn't fixed your issue.

[2021-06-11 22:37] #254 closed

[2021-06-11 22:38] vmanot commented on #247
I'm at my wits' end with `UIRefreshControl` - what an absolutely botched up API. Closing this ticket as I'm considering it out of scope for SwiftUIX.

[2021-06-11 22:38] #247 closed

[2021-06-14 15:10] X901 opened #268 "cannot change background color of any view inside windowOverlay"
Hi ,
I notice if I put background color on any view inside windowOverlay it won't change
always will show white color even in darkMode

[2021-06-14 21:40] vmanot commented on #268
@X901 could you attach a sample repro snippet?

[2021-06-16 08:44] lucasmerlin opened #270 ".isFirstResponder causes flickering when used in an NavigationView destination"
You can see it here:

https://user-images.githubusercontent.com/8009393/122186884-c7575780-ce8e-11eb-801a-3f08adf9574e.mov

Sample Code:

[code]

[2021-06-20 12:15] wisepmlin opened #272 "wiki Incomplete"

[2021-06-22 08:42] geraldvoit opened #273 "PaginationView - turn off programmatic page index change animation"
Hi, in my application there is a use-case where the PaginationView should not animate between pages when the page index is manipulated programmatically, but sometimes it should. Scrolling between pages should be possible although. Therefore, I'm wondering if there is an easy way to expose an API for this case? Like "shouldAnimate" as shown in the code snippet below.

[code]

[2021-06-23 20:13] vmanot commented on #272
@wisepmlin am crushed by time constraints atm :(. Closing this as this is one of the general issues with the current repo, please feel free to raise an issue for any particular item you want to see documented.

[2021-06-23 20:13] #272 closed

[2021-06-28 14:33] daweido opened #275 "CocoaScrollView - Disable contentInsets scrolling"
Hey all,

I wondered if there was a way to disable scrolling on the content inset but leave the scrolling gesture enabled on the content itself?

Thanks
daweido

[2021-06-28 15:56] vmanot commented on #275
@daweido is this possible in UIKit? Can definitely expose it if so. If not, I may close this down as an out of scope feature-request.

[2021-06-28 23:00] skywalkerlw opened #276 "CocoaList Swipe to Delete Function"
Does  CocoaList support swipe left/right  as what we have in UITableView?

[2021-06-28 23:52] vmanot commented on #276
@skywalkerlw nope. Unfortunately I can't tap into how SwiftUI decomposes view hierarchies to extract images + text (to allow me to map it to `UIContextualAction`, so I'm considering replicating the API out of scope.

[2021-06-28 23:52] #276 closed

[2021-07-05 08:19] X901 commented on #268
@vmanot after I use it for a while I notice the issue is it always follow system color
for example if my system is dark model , but I force my app to be light mode
it will be dark mode won't change to light mode
my app have theme system, light , dark
if I use system everything is working fine , but If my system is light and force my app to be dark , or vice versa
it won't work (won't change)

[2021-07-06 12:09] sprzenus opened #278 "TextView with title cannot be edited"
I realized that if I add a title to the TextView it doesn't work - I cannot edit the content of it.

Example:
[code]

[2021-07-06 15:53] miguellan commented on #233
Was this fixed/resolved?  What is the proper way to do it now?

[2021-07-06 17:38] maximkrouk opened #279 "CocoaScrollView contentInsets are not updating"
Example repo https://github.com/maximkrouk/VideoTrimmingExample

[2021-07-09 02:07] vmanot commented on #278
This is now fixed courtesy of @levous!

[2021-07-09 02:07] #278 closed

[2021-07-09 02:08] vmanot commented on #261
Closing for now, but please reopen if this problem still persists.

[2021-07-09 02:08] #261 closed

[2021-07-09 02:09] vmanot commented on #215
Closing as I'm officially marking this out of scope for `CocoaList`. I've exhausted a wide range of solutions trying to balance the tradeoff between performance and layout magic - sticking with performance here.

[2021-07-09 02:09] #215 closed

[2021-07-09 02:10] vmanot commented on #260
Marking this as out of scope because UIKit doesn't support this behavior out of the box for `UICollectionView`.

[2021-07-09 02:10] #260 closed

[2021-07-09 02:11] vmanot commented on #275
Closing this as it doesn't seem to be an out-of-the-box feature from UIKit. I'm happy to consider a PR (the API for this would have to be really concise though), but this is out of scope for SwiftUIX.

[2021-07-09 02:11] #275 closed

[2021-07-14 14:32] shtnkgm opened #281 "PaginationView SafeArea issues"
I can't ignore the device's SafeArea when I apply the `ignoresSafeArea()` modifier to the `PaginationView`.
How can I ignore the Safe Area?

[code]

This issue is likely to be related to the following:
https://twitter.com/b3ll/status/1193747288302075906

[2021-07-21 17:45] dabbler0606 opened #285 "TextView click does not respond and cannot be edited"
[code]

TextView click does not respond and cannot be edited

xcode 12.5

Hope to answer, thank you

[2021-07-22 04:52] underthestars-zhy opened #286 "Make Search Bar the first responser"
How can I make the search bar the first responses? My Xcode says it’s only can be used on textfiled

[2021-07-22 09:48] vmanot commented on #285
@dabbler0606 this was fixed on `master` - please use that for now, I'll be cutting out a new release soon.

[2021-07-22 09:48] #285 closed

[2021-07-25 21:09] vmanot commented on #286
`SearchBar` now supports `SearchBar.focused($yourBooleanVar)`

[2021-07-25 21:09] #286 closed

[2021-07-25 21:10] vmanot commented on #281
Can you try using `_fixSafeAreaInsets()` inside `PaginationView`? That should fix it.

[2021-07-25 21:10] #281 closed

[2021-07-29 07:28] writing-shed opened #290 "SwiftUIX compile fails"
Xcode 13 beta 4 is failing to compile the List extension in List++.swift

[2021-07-29 08:24] vmanot commented on #290
@writing-shed fixed!

[2021-07-29 08:24] #290 closed

[2021-07-29 08:36] vmanot commented on #273
@geraldvoit does wrapping it in a `withoutAnimation` block fix it for you?

[2021-07-29 08:39] #268 closed

[2021-08-01 12:37] mistralaix opened #292 "Presenter always nil"
Hi, I was using the presenter on my previous project with the CocoaHostingController and everything was working as expected.
I wanted to switch on this new version and use a PresentationView instead. The presenter is always nil.
Am I missing something ?
Btw I also tried to use the StackNavigationView and I have the same problem.
[code]

Thanks everyone for your help!

[2021-08-02 09:11] vmanot commented on #292
The issue here is that you're reading the environment of `iOSApp`, which is _not_ wrapped in a `PresentationView`. The solution is to create a `ContentView`, and in your app's body wrap it like so: `PresentationView { ContentView() } }`. This will ensure that `ContentView`'s environment has a valid `presenter` present.

[2021-08-02 09:11] #292 closed

[2021-08-02 09:19] mistralaix commented on #292
In order to simplify the example I just posted it in the iOS app but it was in another view before.
So I just tried to follow your comment:
[code]

[2021-08-02 13:59] vmanot commented on #292
<img width="1155" alt="Screen Shot 2021-08-02 at 7 28 24 PM" src="https://user-images.githubusercontent.com/5306992/127873471-16c20212-31f6-4875-8d84-dea20a9b0441.png">

Hmm.. it worked for me? This is running on Xcode 12.5.1, iPhone 12 Pro (14.5) sim.

[2021-08-03 05:01] BugMonkey commented on #206
it still doesn't work，we need simple code or doc ，thanks

[2021-08-04 17:37] vmanot commented on #273
Closing this due to inactivity.

[2021-08-04 17:37] #273 closed

[2021-08-04 17:37] vmanot commented on #270
@lucasmerlin unfortunately I've found no reliable way to hook into navigation transitions (so that I can wait for a completion block to delay the first responder status).

[2021-08-06 09:37] K999999999 opened #294 "PaginationView Page.onDisappear not as expected"
[code]

what I expect is yellow onAppear and then red onDisappear, but only when blue onAppear and then red onDisappear

[2021-08-07 09:00] DominikButz opened #295 "Xcode 13 Beta 4 issues"
Hi, my project is refusing to build for iOS 15, Xcode 13 beta 4.
The following errors are raised:

- UIViewControllerLifecycleEvent > func makeUIViewController(context: Context)
   UIViewControllerType()  // missing argument for parameter rootView

- CocoaTextField >      @ObservedObject var keyboard = Keyboard.main  // Keyboard is unavailable in application extensions for iOS
- List ++ > extensio

[2021-08-07 13:27] maximkrouk opened #296 "Cannot be used as a dependency for packages that support lower os versions"
The package specifies
[code]
So it cannot be imported to packages with lower requirements.

The solution is to remove these constraints, add #canImport(SwiftUI) checks and @available attributes to implementations

[2021-08-07 20:55] vmanot commented on #296
@maximkrouk this is out of scope for the project unfortunately.

[2021-08-07 20:55] #296 closed

[2021-08-07 20:58] vmanot commented on #295
@DominikButz this is fixed on `master` (and actually should be fixed on the last release as well). Could you try updating your version dependency for SwiftUIX?

[2021-08-07 20:58] #295 closed

[2021-08-07 21:00] vmanot commented on #294
@K999999999 this is out of scope unfortunately. SwiftUI gives me no way to manually trigger any attached `onDisappear` blocks. You may want to report this to Apple as a SwiftUI bug (`PaginationView` internally uses `UIHostingController` with `UIPageViewController`).

[2021-08-07 21:00] #294 closed

[2021-08-08 06:52] DominikButz commented on #295
OK - strange, I thought I updated the package. Now Xcode 13 Beta 4 shows errors in another package, but not SwiftUIX any more...  thanks

[2021-08-09 20:37] jevonmao commented on #296
@vmanot Would you care to elaborate on why not? I'm interested in this proposal, and it is a very common issue for SwiftUI libraries, some apps are slowly migrating to SwiftUI. But the high deployment target does not allow adding the library at all. Is there a specific issue for SwiftUIX?

[2021-08-19 04:44] K999999999 opened #297 "PaginationView SafeArea"
[code]
What I expect is item.color expand and Text(item.id) in safe area, if I remove trick logic(delay show PageGroup), the Text(item.id) will be out of safe area. Is there a better solution?

[2021-08-19 07:35] K999999999 commented on #297
I found a better solution: use CocoaScrollView with isPagingEnabled(true) instead of PaginationView
[code]

[2021-08-22 17:07] buluoray opened #298 "Is there a way to get the index of the Element in CollectionView?"
Like
`
CollectionView($items) { index, item in
 Text("\(index) \(item)")
}
`

[2021-08-22 18:48] buluoray opened #299 "NavigationLink doesn't do anything inside CollectionView"
NavigationLink doesn't do anything inside CollectionView
"SwiftUI encountered an issue when pushing aNavigationLink. Please file a bug."

[2021-08-22 20:54] vmanot commented on #298
@buluoray use an `enumerated()` collection.

[2021-08-22 20:54] #298 closed

[2021-08-22 21:00] vmanot commented on #299
This is a SwiftUI bug (as evidenced by the log). Please file a DTS for it to Apple.

[2021-08-22 21:00] #299 closed

[2021-08-24 18:26] Fateh-Alam opened #300 "macOS Support"
Is macOS SwiftUI supported?

Please respond.

[2021-08-25 02:39] NuPlay commented on #300
Package.swift

platforms: [
        .iOS(.v13),
        .macOS(.v10_15),
        .tvOS(.v13),
        .watchOS(.v6)
    ]

It seems to support macOS

[2021-08-25 06:43] Fateh-Alam commented on #300
okay thanks

[2021-08-25 06:43] #300 closed

[2021-08-30 09:08] LeonManolo opened #301 "Navigation Link does not work inside VisualEffectBlurView"
Im new to Swift and SwiftUI so maybe Im doing something wrong. But whatever I try I cant get the Navigation Link to work inside the VisualEffectBlurView, outside of it, it works just fine.
[code]

[2021-08-30 21:25] vmanot commented on #301
@LeonManolo use `VisualEffectBlurView` as either a background or an overlay on your `NavigationLink`, that should solve the problem.

[2021-08-30 21:25] #301 closed

[2021-08-31 11:30] LeonManolo opened #302 "How to change the color of some View when using VisualEffectBlurView(vibrancyStyle: .fill) ?"
Basically what Im trying to achieve is to change the colors only for some specific views.
Is there a way to change the color for just some specific Views when using vibrancyStyle: .fill?

Example
[code]

[2021-08-31 12:07] vmanot commented on #302
@LeonManolo unfortunately this is not supported at the moment. Due to constraints in APIs offered by SwiftUI, I can't enable vibrancy effects for text/images within a blur view.

[2021-08-31 12:07] #302 closed

[2021-09-06 12:35] vmanot commented on #297
@K999999999 this should be fixed now.

[2021-09-06 12:35] #297 closed

[2021-09-08 11:05] marius-se opened #303 "CocoaTextField does not recognise `isEditing` updates (Xcode 12.5.1)"
When setting `isEditing` to false (e.g. by tapping a button) `CocoaTextField` does not recognise the change of the `isEditing` property.

Minimal setup with Xcode 12.5.1:
[code]

[2021-09-08 16:45] kyle-beard-wex opened #304 "WebView fails for iOS 14 StateObject when building for iOS 13"
The Intramodular WebView is failing for `'StateObject' is only available in iOS 14.0 or newer` when the target version is set to below iOS 14.0. Could we add `@available(iOS  14.0, *)` to that struct?

[2021-09-09 11:05] marius-se commented on #303
I investigated a little bit further and did some major changes to the initial GitHub issue. :)

[2021-09-09 12:01] marius-se commented on #303
Update: I noticed that in `CocoaTextField.swift` line 260-276 none of the if statements succeed when setting `isEnabled` to `false`.

[2021-09-09 15:06] vmanot commented on #303
@marius-se use `.focused($isEditing)` instead of `isEditing` in the init.

[2021-09-09 15:06] #303 closed

[2021-09-09 15:06] vmanot commented on #304
@kyle-beard-wex this is now fixed, thanks for reporting!

[2021-09-09 15:06] #304 closed

[2021-09-09 15:07] kyle-beard-wex commented on #304
Glad to contribute! Thanks for the speedy fix.

[2021-09-09 15:17] marius-se commented on #303
Okay thanks!

[2021-09-15 11:14] X901 opened #306 "Xcode 13 RC issue"
I cannot run my project because of this issue

![Screen Shot 2021-09-15 at 1 11 18 PM](https://user-images.githubusercontent.com/16876982/133423472-df01069c-7259-4a5f-b855-4f1f9f4a5389.jpeg)

[2021-09-15 13:32] amoshsueh commented on #306
Same here

[2021-09-15 14:31] vmanot commented on #306
@X901 which tag are you on? This should be fixed on `master`.

[2021-09-15 14:50] BenSullivan-iOS commented on #306
Same here on v0.0.8 on SPM. How would I go about knowing the tag or changing to master?

[2021-09-15 14:51] X901 commented on #306
I'm on the master

[2021-09-15 15:08] vmanot commented on #306
@X901 it can't be the tip of master because the screenshot you've attached doesn't match `List++.swift` in the current repo.

[2021-09-15 15:22] BenSullivan-iOS commented on #306
I cleaned & cleared derived data and it's working now! 👍

[2021-09-16 15:49] vmanot commented on #306
@BenSullivan-iOS thanks for confirming. Closing this ticket now.

[2021-09-16 15:49] #306 closed

[2021-09-19 06:40] X901 commented on #306
it worked now , thank you
I notice the SPM was using old version by default change it to master

[2021-09-19 06:44] X901 opened #308 "Crash on NavigationBar in Xcode 13 RC"
Hi ,
I have crash every time I return back to perverse page

<img width="1675" alt="Screen Shot 2021-09-19 at 9 38 47 AM" src="https://user-images.githubusercontent.com/16876982/133918239-fbb60cc7-ed18-4116-af55-e0852612c8f9.png">

**Logs :**

Previous access (a modification) started at SwiftUI`GraphHost.invalidate() + 127 (0x7fff5cba2b19).
Current access (a read) started at:
0    libswiftCore.dyl

[2021-09-19 07:03] X901 commented on #308
This solve the crash

[code]

[2021-09-19 07:32] underthestars-zhy opened #309 "Not Support TextInputAutocapitalization"
The search bar doesn't support TextInputAutocapitalization

[2021-09-20 22:51] vmanot commented on #308
@X901 this is fixed on `master` now.

[2021-09-20 22:51] #308 closed

[2021-09-20 22:55] #270 closed

[2021-09-21 06:13] underthestars-zhy commented on #309
Is there a way to make Sear Bar not capitalize automatically?

[2021-09-22 16:14] recurrence commented on #306
This is still happening on the master branch pointed at macOS apps.

[2021-09-23 13:20] qsfty opened #310 "SwiftUIX in xcode13 compile error"
Today, I upgrade xcode from 12.5 to 13, SwiftUIX  compile error, the project can't run

[2021-09-23 14:22] vmanot commented on #310
@qsfty this should be fixed on the latest tag, please update to `0.0.9` and check.

[2021-09-23 14:22] #310 closed

[2021-09-23 21:00] skywalkerlw opened #311 "XCode 13 RC Archive Error"
My SwiftUI target is iOS 14 and errors only happen on a release build archive.

![image](https://user-images.githubusercontent.com/2090084/134583197-345b6a93-4395-48c4-9974-fb2927451ec4.png)

[2021-09-26 20:24] vmanot commented on #311
@skywalkerlw `master` should be archiving for you. Could you try again?

[2021-09-28 08:25] unitedadi opened #313 "VisualEffectBlurView crash in iOS 15 : Thread 1: Simultaneous accesses to 0x10a330050, but modification requires exclusive access"
var intensity: Double {
        didSet {
            if let animator = blurEffectAnimator {
                animator.fractionComplete = .init(intensity)
            }
        }
    }

[2021-09-29 12:22] skywalkerlw commented on #311
yes, finally, i found it came a bug from KingFisher framework: https://github.com/onevcat/Kingfisher

[2021-09-29 12:22] #311 closed

[2021-09-29 13:10] SagarUnagar opened #314 "Support for Xcode 13.0 (13A233)"
Updated Xcode to 13 (stable version from App Store). Stuck at this compile error. Could you please help me out? Followed this thread #310 as well. Tried with the latest tag - 0.0.9. Still, doesn't solve for the particular Xcode version, which I am in.
<img width="1155" alt="compile issue" src="https://user-images.githubusercontent.com/16893693/135274778-15acc55a-18c1-4076-bde3-d4260d661805.png">

[2021-09-29 16:52] vmanot commented on #314
@SagarUnagar I'm on the App Store version as well, you should update to `master`.

[2021-09-29 16:53] vmanot commented on #313
This should be fixed on `master` now. Thanks for reporting!

[2021-09-29 16:53] #313 closed

[2021-09-29 17:00] vmanot commented on #309
@underthestars-zhy `SearchBar` now respects SwiftUI's `View.disableAutocorrection(_:)` modifier.

[2021-09-29 17:00] #309 closed

[2021-09-29 17:02] vmanot commented on #314
@SagarUnagar I also just confirmed by building it on Xcode 13, closing this ticket. Please reopen if this issue persists.

[2021-09-29 17:04] vmanot commented on #311
@skywalkerlw gotchya, thanks for confirming.

[2021-09-29 17:20] SagarUnagar commented on #314
Hi Vatsal, Thank you for your response.

Issue is still persisted. I also tried using `master` but still getting same error.

<img width="641" alt="package dependency" src="https://user-images.githubusercontent.com/16893693/135317988-6e15c9de-b980-49a3-adf5-9f8628f4a8cf.png">

[2021-09-30 17:37] vmanot commented on #314
@SagarUnagar which file is it failing on for you? Could you give me the exact file & line number?

[2021-10-01 04:23] SagarUnagar commented on #314
Hi @vmanot

Error is in Sources/Intermodular/Helpers/UIKit/UIViewControllerLifecycleEvent.swift at line 77.

[2021-10-01 13:52] matthewrobb opened #315 "Documentation Proposal"
First off, thank you so much this package is the only thing making SwiftUI viable in production for large applications.

Members of my team bemoan the lacking documentation. I would love to help get docs up to speed but can't devote a ton of manual time to it in the long term. I am curious if you'd considered and/or have interest in integrating https://github.com/realm/jazzy and generating docs.

[2021-10-02 18:53] vmanot commented on #315
@matthewrobb Hi Matthew! I share your team's frustration with the lack of documentation, it's a function of bandwidth rather than passion/want (I'm stretched extremely thin between my client work and OSS work). I'm more than happy to accept any new PRs contributing to the documentation, and have been looking into [DocC](https://developer.apple.com/documentation/docc) for rich documentation support

[2021-10-04 11:52] vmanot commented on #314
@SagarUnagar no idea why this is causing an issue. It's not even used in SwiftUIX (was unfinished code), so I've straight up removed it. I think this may've been a red herring and some other framework/dependency in your project could be causing issues though.

[2021-10-04 11:52] #314 closed

[2021-10-11 18:56] omidgolparvar opened #316 "Build error in AppKitOrUIKitViewControllerResolver"
Build error in `AppKitOrUIKitViewControllerResolver`

[code]

SwiftUIX 0.0.9
Xcode 12.4
Swift 5.3.2

[2021-10-12 10:13] #316 closed, assigned to nobody

[2021-10-17 14:50] YnievesDotNet opened #317 "About old versión of xCode"
I can use SwiftUIX on XCode 12.4 (with Catalina OS)?

best regards

yoinier

[2021-10-18 15:05] thegitparticle opened #319 "How to listen to selected text and changes to selection using CocoaTextField?"
I want to trigger a function or variable change of the selected text whenever user selects a portion of the typed text string and if they move the selection right or left to change the range of selected portion.

Is it possible to achieve using CocoaTextField or how do I get it even with UIKit TextField?

[2021-10-18 19:01] #317 closed, assigned to nobody

[2021-10-18 19:30] vmanot commented on #319
@thegitparticle honestly not sure, but I can consider this feature enhancement request if possible with UIKit.

[2021-10-20 17:08] Brett-Best opened #322 "LinkPresentationView in ScrollView"
Currently using LinkPresentationView in a ScrollView results in a 0 height view

[2021-10-25 00:13] skywalkerlw commented on #292
The drawback of  `presenter` is it does not support presenting another modal when a modal is presented.

[2021-10-26 15:32] sahabe1 opened #324 "How to render html string in UITextView?"

[2021-10-26 18:29] #324 closed, assigned to nobody

[2021-11-01 10:01] shaokui-gu opened #327 "CocoaList 当且仅当第三条数据的发生变化而不更新，"
![image](https://user-images.githubusercontent.com/83857593/139654559-5173e12e-9534-4f19-8f6f-8b66ac68fcbd.png)

发现修改数据中的某条数据内容，数据id唯一，当且仅当第三条数据的发生变化而不更新，注释部分这个判定生效，不是第三条就没有任何问题，到目前我没有跟踪到具体的原因，还是说可能我自己的代码有问题，但我仅仅使用了一个model list 然后去修改它的某条数据

[2021-11-10 09:50] shywoody opened #328 "iOS 13 Compiler Error"
xcode version 12.2
![WeChat1933263e9a003e0acaf744bb123e271d](https://user-images.githubusercontent.com/16266037/141090378-687f0b90-3425-45ce-845d-4f75e0bf2fad.png)

[2021-11-10 09:59] shywoody commented on #328
my bad, i miss the info that xcode 12.5+

[2021-11-10 22:44] matthewrobb commented on #315
@vmanot been super swamped the last month or so but plan on circling back on this topic at some point.

[2021-11-10 22:44] #315 closed

[2021-11-15 20:47] vmanot commented on #327
@shaokui-gu apologies, I can't make out the issue from Google Translate here. Could you try re-opening in English? If someone looking at this issue is bilingual I'd really appreciate a translation.

[2021-11-15 20:47] #327 closed

[2021-11-26 16:08] saltwat5r commented on #169
Hi, I have the same problem. CocoaTextField is not working with .font() modifier at all.

[2021-11-28 02:42] #328 closed

[2021-11-30 22:23] nasru opened #329 "CocoaScrollView decelerationRate"
Hello there. I want to make some changes in CocoaScrollView but I couldn't find where to do it. things i want to do:
[code]

[2021-11-30 23:18] skywalkerlw opened #330 "'hoverEffect' is only available in iOS 13.4 or newer"
Happened on Xcode 13.2 beta 2

![image](https://user-images.githubusercontent.com/2090084/144143514-a396723f-cc9d-4f88-8a8d-f9379df1496f.png)

[2021-12-03 06:15] Brett-Best commented on #330
I’m not seeing this locally or in the github actions CI, can you provide the full build log?

[2021-12-04 22:24] vmanot commented on #330
@skywalkerlw I'm not seeing this either, and the availability condition should not be causing that. Please reopen if this persists, and it'd be great if you could attach steps or better yet an example project with the compilation issue.

[2021-12-05 08:29] skywalkerlw commented on #330
This only happens on Xcode 13.2 beta2

![image](https://user-images.githubusercontent.com/2090084/144739308-203cf3b7-836c-48a8-bea9-2ed5e517ada0.png)

This is the demo i created followed by Xcode template and only SwiftUIX is dependent. https://github.com/skywalkerlw/SwiftUIXSpike

[2021-12-05 10:26] vmanot commented on #329
@nasru enabling/disabling bounce is accessible via `scrollBounceDisabled(_:)`. As for deceleration rate, I'll add the ability to expose it.

[2021-12-05 11:43] nasru commented on #329
I m used it scrollBounceDisabled. But did not working. Did not disabled bohncing

[2021-12-05 14:32] vmanot commented on #329
@nasru it only works with `CocoaScrollView`. Are you using it with SwiftUI's `ScrollView` or with `CocoaScrollView`?

[2021-12-06 17:05] Brett-Best commented on #330
I can reproduce, a workaround for me was to change to building for release instead of debug. Could you file a feedback for this with Apple? Seems like a bug to me, will check again when new beta or RC of Xcode 13.2 comes out.

[2021-12-08 04:07] skywalkerlw commented on #330
still happens on Xcode 13.2 RC

[2021-12-08 15:51] vmanot commented on #330
@skywalkerlw yeah, I've patched it for now. If you need that code, just copy paste it - but otherwise it's disabled until Xcode decides to get its shit together.

[2021-12-08 15:51] #330 closed

[2021-12-08 16:12] vmanot commented on #330
@skywalkerlw this is now fixed thanks to @Brett-Best, who correctly noted it's `@inlinable` that's causing an issue. Still marked as an `apple-bug` because it's a bug with Swift inlining, but it's back and available again!

[2021-12-09 06:50] skywalkerlw commented on #330
Thank you :)

[2021-12-10 20:59] jpmcglone opened #333 "Can we get the latest on cocoapods?"

[2021-12-12 03:10] JackYoustra commented on #75
Could you also use `dropFirst`?

[2021-12-12 09:57] vmanot commented on #333
Hi @jpmcglone, thanks for asking this. Not supporting CocoaPods was an intentional decision made at the very start of this project, so unfortunately I don't have any plans of adding CocoaPods support. That being said, I know that some people maintain their own forks adding CocoaPods support.

[2021-12-12 09:57] #333 closed

[2021-12-13 10:28] uniqby commented on #306
Same issue in XCode Version 13.2 (13C90) for macOS target

[2021-12-21 02:41] maik-he opened #336 "I have an error, as shown"
![WX20211221-104040](https://user-images.githubusercontent.com/10544330/146861780-1e4f4b7e-e4a9-47dc-b21c-70c3ead50cb8.png)
![WX20211221-104407](https://user-images.githubusercontent.com/10544330/146862026-24bc9d7b-d098-49fe-8269-53e7b56fc5b1.png)

[2021-12-21 12:15] vmanot commented on #336
@maik-he you're on an extremely old version/commit of SwiftUIX, these issues were fixed a while ago. Please update either to the latest version (0.1.1) or the latest commit on `master`.

[2021-12-21 12:15] #336 closed

[2021-12-21 14:14] maik-he commented on #336
Thank you very much. I'll try

[2021-12-21 14:52] vmanot commented on #336
@maik-he no problem, please feel free to reopen this issue if you're still unable to compile.

[2021-12-21 15:16] richardtop opened #337 "ModalPresentationStyle: form doesn't work on the iPad"
What's the correct way to use `modalPresentationStyle`? I'm currently modifying the content of the `sheet` SwiftUI call but it doesn't help and the view seems to be presented with the standard PageSheet design:
[code]

![Simulator Screen Shot - iPad Pro (11-inch) (3rd generation) - 2021-12-21 at 17 12 44](https://user-images.githubusercontent.com/8013017/146953741-00968e20-c8bb-4a9c-ac4c-b78e89801

[2021-12-22 17:05] SwapnanilDhol commented on #330
Hey, @vmanot. Looks like this problem has resurfaced with Xcode 13.2.1. I am on the master branch of this package, have restarted Xcode, my Mac, cleaned derived data but this issue still seems to persist. Is this something that you're aware of?

 ![Screenshot 2021-12-22 at 10 32 40 PM](https://user-images.githubusercontent.com/41509261/147128877-17e61712-1735-4232-a463-2b3984f2fb0d.png)

[2021-12-23 08:45] vmanot commented on #337
This modifier only works with SwiftUIX's PresentationLink for now, it's not possible to override Apple's modifiers.

[2021-12-23 10:00] #337 closed

[2021-12-27 07:06] wyh opened #339 "Xcode 13.2 import swiftUIX will stuck"
Xcode will  be stuck  if any file having swiftuix imported, just like this:

`import SwiftUIX`

Xcode: 13.2.1

[2021-12-27 21:43] #279 closed

[2021-12-27 21:43] #238 closed

[2021-12-27 21:43] #319 closed

[2021-12-27 22:27] thegitparticle commented on #319
solved it using this - https://github.com/kyle-n/HighlightedTextEditor

[2021-12-29 07:00] Nickersoft opened #340 "SearchBar placeholder color?"
Hey,

Great library! I was curious if it'd be possible to extend the SearchBar component to allow customizing the text color of the placeholder via `.searchTextField.attributedPlaceholder`. I was going to try to make this change myself, but after opening the project and trying to compile I receive this error when building for previews:

[code]

I'm not exactly sure if there's something special I m

[2022-01-04 15:36] vmanot commented on #339
@wyh I'm unable to reproduce this, please reopen with a repro if this still persists.

[2022-01-04 15:36] #339 closed

[2022-01-04 16:25] KeeganFerrett opened #341 "Example on CollectionView Drag & Drop Reordering"
Hey there,

Firstly, love the project, making supporting iOS 13 SwiftUI much more enjoyable.

I realise documentation is currently behind the code base, so figured I should ask here.

Is it possible to enable drag and drop recording in the CollectionView? I have been playing around with the API but struggling to find a way to do it (API seems to imply its possible).

My current code
[code]

Happy

[2022-01-06 22:22] vmanot commented on #341
@KeeganFerrett I'll try and get some documentation in this weekend, `CollectionView` does indeed support drag & drop reordering.

[2022-01-06 22:24] vmanot commented on #340
@Nickersoft could you PR your changes? I can investigate why the canvas might be breaking.

[2022-01-07 06:59] Mcrich23 opened #342 "AppActivityView crashing when not shown as .sheet()"
I have tried things other than .sheet(), every time I do, it crashes the app throwing this error: `UIActivityViewController can only be used modally or as contentViewController in popover on iPad`. Is there anyway to get around this? I don't like using the full sheet instead of the typical half sheet. Pls help.

[2022-01-07 21:25] Nickersoft commented on #340
Hey @vmanot, thanks for getting back to me! I can give it a shot, though I'm not sure how to test my changes if the canvas is broken 😂

[2022-01-10 11:32] vmanot commented on #342
@Mcrich23 I'm not sure what the solution here is, maybe using the new iOS 15 sheet APIs to create a half-height modal? Closing this issue as it is out-of-scope to fix, but feel free to comment here/reopen if you find a fix - would be happy to merge it in.

[2022-01-10 11:32] #342 closed

[2022-01-11 16:19] vmanot commented on #340
@Nickersoft the easiest way to test would be to create a dummy Xcode project and add your forked version locally.

[2022-01-12 07:06] shywoody opened #343 "PageViewController swipe ignores SwiftUI's navigationBarHidden(true)"
when I swipe while the navigation bar is hidden, it reappears.

[2022-01-12 07:07] shywoody commented on #343
be like ,[this situation](https://stackoverflow.com/questions/69883830/uipageviewcontroller-swipe-ignores-swiftuis-navigationbarhiddentrue), could u give some suggestions？😊

[2022-01-12 13:05] vmanot commented on #343
@shywoody could you upload a test project demonstrating this? I can take a look at it and attempt to patch it.

[2022-01-14 10:13] shywoody commented on #343
`import SwiftUI
import SwiftUIX

private struct TestRedView: View{
    var body: some View{
        Color.red.opacity(0.3)

    }
}

private struct TestBlueView: View{
    var body: some View{
        Color.blue.opacity(0.3)
            .edgesIgnoringSafeArea(.all)
    }
}

extension TestErrorView {
    func mainTestView() -> some View{
//        let a = AnyView(TestRedView()).navigationBarHidden(

[2022-01-14 10:19] shywoody commented on #343
when i use pageController contain c & d ，swipe will show navigationBar， i think UIHostingControllers have c & d.  a & b can be nomal

[2022-01-21 00:12] craigrushforth opened #345 "Possible memory leak with `.windowOverlay` modifier"
We're using SwiftUIX for a convenient way to cover the entire screen with a UIWindow.  But it looks like there may be a memory leak.  We show / hide windows each time the app is backgrounded / foregrounded.  Its working really well but we recently noticed when we iterate through all the windows there are a bunch not being removed.

We're using code like

[code]

If we background / foreground the a

[2022-01-23 09:34] vmanot commented on #345
@craigrushforth thanks for catching this and taking a look into it! I'm surprised it hasn't shown up in my radar earlier, I wonder if it's possibly a regression in the SwiftUI runtime, or the way UIKit deals with things. In any case I'll push a patch clearing the `windowScene`.

`dismantleAppKitOrUIKitViewController` was definitely called for me when I last tested, I remember this distinctly becau

[2022-01-23 09:46] vmanot commented on #343
@shywoody fix this by putting a `.hideNavigationBar()` in your page views.

[code]

This fixed it for me.

[2022-01-23 09:46] #343 closed

[2022-01-24 17:00] craigrushforth commented on #345
@vmanot Thank you for this change 👍🏻 .  Works perfectly.  Just tested it.  No memory leaks with windows handing around.

[code]

  I'll close this issue.

  Thanks again

[2022-01-24 17:00] #345 closed

[2022-01-25 07:37] huydinhle opened #346 "Question: How do I do the last step of installation in xcode 13"
[code]

Can someone show me the pictures of how to do this?

[2022-01-25 20:02] vmanot commented on #346
@huydinhle go to Targets → Build Phases → Link Binary With Libraries, and you should see a column called "Status" for each linked library. Mark SwiftUIX as Optional.

Hope this helps :)

[2022-01-25 20:02] #346 closed

[2022-01-25 20:55] huydinhle commented on #346
Thank you it does work, but when I do `import SwiftUIX`I keep getting no such module error. Any idea why?

[2022-02-09 07:02] n41l commented on #160
This issue still remains in TextView component.  Add `guard textView.markedTextRange == nil, text?.wrappedValue != textView.text else { return }` in `textViewDidChange(_ textView: UITextView)` function can fix this too.

[2022-02-09 07:02] gliese667c commented on #160
这是来自邮箱的自动回复。来信已收到，我会尽快回复给您。

[2022-02-10 08:13] writing-shed opened #347 "Segmentation Fault 11"
I'm getting this error when compiling SwiftUIX with Xcode 13.3 beta

[2022-02-10 09:23] vmanot commented on #347
@writing-shed are you on Xcode 13.3b2? `master` is compiling fine for me.

[2022-02-10 12:09] writing-shed commented on #347
Using 13.3b2. Here is the log:

[Build Write!_2022-02-10T12-03-35.txt](https://github.com/SwiftUIX/SwiftUIX/files/8040790/Build.Write._2022-02-10T12-03-35.txt)
[](url)

[2022-02-10 12:39] vmanot commented on #347
I think you might be on an older commit - I'd fixed the segfault the day Xcode 13.3b1 was released.

[2022-02-10 12:53] writing-shed commented on #347
It is defo using v0.1.1. I removed the package from the project and reinstalled but it still fails.

[
<img width="807" alt="Screenshot 2022-02-10 at 12 52 42" src="https://user-images.githubusercontent.com/25199371/153412312-60a7f4f2-fe1f-48a6-b575-39ef06fd8747.png">
](url)

[2022-02-10 12:59] writing-shed commented on #347
It's been working fine with 13.2.1. It only started failing when I installed the latest beta.

[2022-02-10 13:28] bdashore3 commented on #347
I'm also getting this error when trying to build with XCode 13.3b2

[2022-02-10 13:33] bdashore3 commented on #347
[SwiftUIX_master_XCode_133b2.txt](https://github.com/SwiftUIX/SwiftUIX/files/8041335/SwiftUIX_master_XCode_133b2.txt)

[2022-02-10 13:41] bdashore3 commented on #347
Update: Was able to fix this by forcibly triggering an update of the package from XCode. Build of SwiftUIx succeeds with warnings.

To update: `File > packages > Update to latest package versions`

[2022-02-10 13:47] writing-shed commented on #347
Tried that but still failing. Did get this though:

/Users/writingshedprod/Library/Developer/Xcode/DerivedData/Write!-gxlgsjhdkgcwhpbsfahtmlirlqrl/SourcePackages/checkouts/SwiftUIX/SwiftUI.UIHostingController:17:17: Instance method 'sizeThatFits(in:)' isolated to global actor 'MainActor' can not satisfy corresponding requirement from protocol 'AppKitOrUIKitHostingControllerProtocol'

[2022-02-11 08:37] writing-shed commented on #347
Added it by branch master and it worked so thanks

[2022-02-11 08:37] #347 closed

[2022-02-11 09:31] drsounds opened #348 "NavigationSearchBar jumps out of screen when typing text"
When typing text in search field, the content moves out of screen top when keyboard is coming, and it wont help using .ignoreSafeArea(.keyboard)

[2022-02-16 18:46] BrunoCerberus opened #349 "No support for Swift 5.6 on Xcode 13.3 Beta 2"
Got this when tried to run on Xcode 13.3 Beta 2

[code]

[2022-02-17 12:49] BrunoCerberus commented on #349
Ok, gonna give a shot

[2022-02-20 16:52] rosenbergm opened #350 "Cannot find 'CocoaTextField' in scope"
hi, i've installed SwiftUIX following the installation guidelines and i'm getting this error when trying to use the `CocoaTextField` view.

<img width="647" alt="Screenshot 2022-02-20 at 17 50 21" src="https://user-images.githubusercontent.com/10347191/154854030-aed01eca-5e3a-46b3-80f9-4b562ab548c4.png">

i have imported SwiftUIX at the top of the file and also tried to use other views, which func

[2022-02-21 09:41] vmanot commented on #350
@rosenbergm is this for a watchOS app? I'm able to use `CocoaTextField` without an issue when building an iOS target.

[2022-02-21 09:46] rosenbergm commented on #350
oh, sorry to mention – i'm building for macOS

[2022-02-21 14:59] vmanot commented on #350
@rosenbergm `CocoaTextField` is not supported on macOS at the moment unfortunately. I'd love to write an AppKit port but just don't have the bandwidth at the time. If you feel like you can contribute to that end, am happily accepting PRs.

[2022-02-21 15:03] rosenbergm commented on #350
ah, that sucks... i am a horrible swift developer so i'll rather stay away from submitting swift pull requests. thanks for maintaining this awesome library!

[2022-02-21 15:03] #350 closed

[2022-02-21 16:14] vmanot commented on #350
@rosenbergm no problem! I'll be sure to ping here if I get any traction on a macOS variant of `CocoaTextField` :)

[2022-02-24 06:59] BugMonkey commented on #97
![image](https://user-images.githubusercontent.com/22151098/155474018-b15e2b31-6654-4565-80a0-c6f9041efd5b.png)
this is very weird，if use local variables，it works

[2022-02-25 12:18] ksiwei opened #351 "Extra space below CocoaTextField InputAccessoryView on iOS15"
There is some extra white space under inputAccessoryView, only on iOS15. Love this library otherwise!

[code]
![image](https://user-images.githubusercontent.com/1129383/155713930-defc73b6-0301-41a1-b96a-010ed871c449.png)

[2022-02-27 17:30] vmanot commented on #351
@ksiwei I'll investigate - thanks for reporting!

[2022-03-01 07:54] X901 opened #352 "How can I remove navigation border ?"
Hi ,
Does SwiftUIX have a way to remove navigation border only on one view ?
I notice when I use code like this

[code]

it will effect all NavigationViews even if I but it onAppear()

I want to remove it only on **one view** but show it on all other views

[2022-03-01 20:30] vmanot commented on #352
@X901 it does not - and since SwiftUI's `NavigationView` may use a custom navigation bar subclass, I'm going to have to mark this issue out of scope for SwiftUIX unfortunately. You can take a look into the `_configureUINavigationBar` function though, it provides access to the active `UINavigationBar`, if any.

[2022-03-01 20:30] #352 closed

[2022-03-08 07:36] Maedeh-saam opened #353 "CocoaTextField keyboardType"
For CocoaTextField, .keyboardType(.numberPad) not work
![Screen Shot 2022-03-08 at 11 00 13 AM](https://user-images.githubusercontent.com/69032649/157188458-e0231f8b-e0a1-4b87-97a4-ec29d891ae9b.png)

[2022-03-08 08:32] vmanot commented on #353
@Maedeh-saam move the `.keyboardType(.numberPad)` modifier to be placed right after `.isFirstResponder(currentFocus == 0)`, it should work.

[2022-03-08 08:32] #353 closed

[2022-03-08 09:07] wisepmlin opened #354 "The PaginationView iteration object renders an exception in Ios15.2"
[code]
[code]

Debugging tips：
`[Presentation] Attempt to present <_TtGC7SwiftUI29PresentationHostingControllerVS_7AnyView_: 0x10d508370> on <_TtGC7SwiftUI19UIHostingControllerGVS_15ModifiedContentVS_7AnyViewVS_12RootModifier__: 0x10960c190> (from <_TtGCC8SwiftUIX27UIHostingPageViewController21PageContentControllerGV7SwiftUI7SectionGVS2_15ModifiedContentGS4_GS4_V6ÁßÄÂàÄ7DayViewGVS2_30_EnvironmentK

[2022-03-08 09:37] wisepmlin commented on #354
![IMG_60804301CB28-1](https://user-images.githubusercontent.com/74945717/157209525-ffb9a6d1-7bad-45a6-baf8-6655a87397fd.jpeg)

[2022-03-10 09:19] xmanu opened #357 "Segmentation Fault 11 on Xcode 13.3 RC (Swift 5.6)"
When using SwiftUIX 0.1.1 with Swift 5.6 the compilation fails, where it works flawlessly in Swift 5.5. This seems like a bug on Apples side. As it is still present in the RC we cannot rely on this getting fixed before release so it would be nice to fix it in the library.

[code]

[2022-03-10 11:28] arennow commented on #357
@xmanu This is fixed in master if you're looking for a workaround. I don't know the plans on a release of the fix, but I imagine it'll be soonish

[2022-03-11 09:02] BugMonkey commented on #126
how to use @ObservableState  ? is it like StateObject in iOS13?

[2022-03-12 10:01] vmanot commented on #357
@xmanu @arennow a new release is coming in the next couple of days, please use `master` until then.

[2022-03-12 10:02] xmanu commented on #357
Thanks! 👍

[2022-03-13 07:58] wisepmlin opened #359 "CocoaScrollView does not adapt to width"
CocoaScrollView does not adapt to width

[2022-03-15 02:03] BugMonkey opened #360 "@PersistentObject alert "Modifying state during view update, this will cause undefined behavior"."
![image](https://user-images.githubusercontent.com/22151098/158291060-93359d96-38b3-4004-a4fc-b90307319ff1.png)
![image](https://user-images.githubusercontent.com/22151098/158291199-9c68829b-a49a-4205-86f3-395e8a33a715.png)

[2022-03-16 07:16] wisepmlin commented on #357
Just upgraded Xcode, and I'm having this problem too

[2022-03-17 09:12] kmrinmoy07 commented on #357
I am also getting the issue, @vmanot is the new release published?

[2022-03-17 09:15] vmanot commented on #357
@xmanu @wisepmlin @kmrinmoy07 please update to the `0.1.2` tag that I just released.

[2022-03-17 09:15] #357 closed

[2022-03-17 19:42] vmanot commented on #340
Closing due to inactivity.

[2022-03-17 19:42] #340 closed

[2022-03-17 19:44] vmanot commented on #322
Apple's SwiftUI <> UIKit interop is broken when it comes to respecting `intrinsicContentSize` (and changes to it as the view is reconfigured). I'm closing this because it's outside the scope of SwiftUIX to solve it.

[2022-03-17 19:44] #322 closed

[2022-03-17 19:50] vmanot commented on #329
@nasru I've added `CocoaScrollView.decelerationRate(_:)`

[2022-03-17 19:50] #329 closed

[2022-03-23 21:11] nateteahan opened #362 "SearchBar modifiers unavailable due to private protection level"
All modifiers that are defined with "private let" instead of "private var" are unavailable for use.
Specifically, .onEditingChanged and .onCommit do not work.

![Screen Shot 2022-03-23 at 3 07 57 PM](https://user-images.githubusercontent.com/40276808/159796039-b909fb8f-7d74-4a05-ba16-436e8517c10c.png)

[2022-03-23 23:04] #362 closed

[2022-03-24 10:58] IkerSolozabal commented on #116
private func setUpAppearence() {
        UIPageControl.appearance().currentPageIndicatorTintColor = UIColor(Color(colors: appViewConfig.appColor))
        UIPageControl.appearance().pageIndicatorTintColor = UIColor.black.withAlphaComponent(0.2)
    }

[2022-03-25 04:08] vulgur commented on #160
@n41l @vmanot Yes, the bug still remains in 0.1.2, plz reopen the issue.

[2022-03-25 04:08] gliese667c commented on #160
这是来自邮箱的自动回复。来信已收到，我会尽快回复给您。

[2022-03-29 07:37] tmp-dev99 opened #363 "Navigation problem"
Hi!

Since SwiftUI X version 0.1.1, there are navigation problems, it can work on several screens but sometimes after several indentations it does not work anymore.
When the pop does not work.
I don't know if this has already been reported!

[2022-03-29 08:07] vmanot commented on #363
@tmp-dev99 please elaborate - what modifier/construct from SwiftUIX are you using, that you suspect may not be working as intended?